{% include en-us/search/fishing-trip/FishingTripSearchFormMacros.htm %}
{% include en-us/search/time-zone/TimeZoneSearchFormMacros.htm %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchFishingTrip() }}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postFishingTrip() }}
  {%- else %}
    {{ htmForm_postFishingTrip() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteFishingTrip() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportFishingTrip() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterFishingTrip() }}
  {%- else %}
  {%- endif %}
{%- endif %}
