{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleFishingTripPage %}
    <title>{% if resultCount == 0 %}no fishing trip found{% else %}fishing trips{% endif %}</title>
{%- endblock htmTitleFishingTripPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/fishing-trip/FishingTrip.css"/>
{%- block htmStylesFishingTripPage %}
{%- endblock htmStylesFishingTripPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 5;
      }
{{ super() }}
{%- block htmStyleFishingTripPage %}
{%- endblock htmStyleFishingTripPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsFishingTripPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/fishing-trip/FishingTrip.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/fishing-trip/FishingTripSearchPage.js"></script>
    <script src="{{staticBaseUrl}}/js/en-us/search/time-zone/TimeZone.js"></script>
{%- endblock htmScriptsFishingTripPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptFishingTripPage %}
    <script>

      function jsWebsocketFishingTrip(entityShortId, vars, $response) {
{%- block jsWebsocketFishingTripPage %}{%- endblock %}
      }

      function jsTooltipFishingTrip(e, feature) {
{%- block jsTooltipFishingTripPage %}{%- endblock %}
      }

      function htmTooltipFishingTrip(feature, layer) {
        return `{%- block htmTooltipFishingTripPage %}
<h3><wa-icon class="{{ classIconCssClasses }}  "></wa-icon><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipFishingTripPage %}`;
      }

      function jsLegendFishingTrip(map) {
{%- block jsLegendFishingTripPage %}
        var div = L.DomUtil.create('div', 'info legend');
        var htm = '';
        window.listFishingTrip.forEach((result, index) => {
          if(result.location) {
            var shapes = [];
            if(Array.isArray(result.location))
              shapes = shapes.concat(result.location);
            else
              shapes.push(result.location);
            shapes.forEach(function(shape, index) {
              htm += htmLegendFishingTrip(map, shape, result, index, shapes.length);
            });
          }
          if(result.areaServed) {
            var shapes = [];
            if(Array.isArray(result.areaServed))
              shapes = shapes.concat(result.areaServed);
            else
              shapes.push(result.areaServed);
            shapes.forEach(function(shape, index) {
              htm += htmLegendFishingTrip(map, shape, result, index, shapes.length);
            });
          }
        });
        div.innerHTML = htm;
        return div;
{%- endblock jsLegendFishingTripPage %}
      }

      function htmLegendFishingTrip(map, shape, result, index, count) {
        var color = result.areaServedColors[index];
        var title = result.areaServedTitles[index];
        var url = result.areaServedLinks[index];
        var htm = '';
        htm += `<div class="cursor-pointer " style="max-width: 400px; ">
`;
        htm += `{%- block htmLegendFishingTripPage %}
    <div title="${quoteattr(title)}">
    <div style="width: 20px; ">
      <wa-icon class="{{ FONTAWESOME_STYLE }} fa-circle" style="color: ${color}; "></wa-icon>
    </div>
    <div class="text-overflow-ellipsis ">
      <span class="" data-solrId="${result.solrId}" onclick="window.mapLayers[this.getAttribute('data-solrId')].openPopup(); return false;" href="">${title}</span>
    </div>
    </div>
{%- endblock htmLegendFishingTripPage %}`;
        htm += `
</div>
`;
        return htm;
      }

      function jsStyleFishingTrip(feature) {
{%- block jsStyleFishingTripPage %}
        if(feature.geometry.type == 'Point') {
          return {
            radius: 8
            , fillColor: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 1
            , opacity: 0.7
            , fillOpacity: 0.7
            , contextmenu: true
            , contextmenuItems: [
              {
                text: 'Show coordinates'
                , callback: function(event) {
                  alert(event2.target.getLatLngs());
                }
              }
            ]
          };
        } else if(feature.geometry.type == 'LineString') {
          return {
            color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 5
            , opacity: 0.7
          };
        } else {
          return {
             fillColor: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 3
            , opacity: 0.7
            , fillOpacity: 0.7
          };
        }
{%- endblock jsStyleFishingTripPage %}
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
      ]).then(() => {

        var entityShortId = {% if result.entityShortId is defined %}{{ result.entityShortId | tojson }}{% else %}null{% endif %};

          function relate_timeZone(event) {
            suggestFishingTripTimeZone(
                event.target.value ? [ { 'name': 'q', 'value': 'objectSuggest:' + event.target.value }
                , { 'name': 'rows', 'value': '10' }
                , { 'name': 'fl', 'value': 'classCanonicalName,id,pk,editPage,objectTitle' } ] : [{%- if result.timeZone is defined %}{'name':'fq','value':'id:{{ result.timeZone }}'}{%- else %}{%- endif %}]
                , document.querySelector('#' + event.target.getAttribute('data-list'))
                , null
                , null
                , true
                , this
                );
          }
          document.querySelector('#POST_timeZone')?.addEventListener('input', relate_timeZone);
          document.querySelector('#POST_timeZone')?.addEventListener('focus', relate_timeZone);
          document.querySelector('#PATCH_timeZone')?.addEventListener('input', relate_timeZone);
          document.querySelector('#PATCH_timeZone')?.addEventListener('focus', relate_timeZone);
        if(entityShortId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.entityShortId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listFishingTrip')?.value;
        if(l)
          window.listFishingTrip = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphFishingTrip();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qFishingTrip_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('FishingTrip', event.target, document.querySelector('#qFishingTripDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qFishingTrip_rows')?.addEventListener('change', event => {
          paramChange('FishingTrip', event.target, document.querySelector('#qFishingTripDiv_rows'));
        });

        document.querySelector('#qFishingTrip_start')?.addEventListener('change', event => {
          paramChange('FishingTrip', event.target, document.querySelector('#qFishingTripDiv_start'));
        });


        var submitForm_patchFishingTrip = document.querySelector('#htmForm_patchFishingTrip')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchFishingTrip')?.addEventListener('click', event => {
          event.preventDefault();
          patchFishingTrip(null, document.querySelector('#htmForm_patchFishingTrip'), document.querySelector('#htmFormButton_patchFishingTrip'), event.target.getAttribute('data-entityShortId'));
          return false;
        });

        var submitForm_postFishingTrip = document.querySelector('#htmForm_postFishingTrip')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postFishingTrip')?.addEventListener('click', event => {
          event.preventDefault();
          postFishingTrip(document.querySelector('#htmForm_postFishingTrip')
          , document.querySelector('#htmFormButton_postFishingTrip')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteFishingTrip = document.querySelector('#htmForm_deleteFishingTrip')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteFishingTrip')?.addEventListener('click', event => {
          event.preventDefault();
          deleteFishingTrip(event.target, event.target.getAttribute('data-entityShortId'));
          return false;
        });

        var submitForm_putimportFishingTrip = document.querySelector('#htmForm_putimportFishingTrip')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportFishingTrip')?.addEventListener('click', event => {
          event.preventDefault();
          putimportFishingTrip(document.querySelector('#htmForm_putimportFishingTrip'), document.querySelector('#htmFormButton_putimportFishingTrip'));
          return false;
        });

        var submitForm_searchpageFishingTrip = document.querySelector('#htmForm_searchpageFishingTrip')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageFishingTrip')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageFishingTrip();
          return false;
        });

        var submitForm_deletefilterFishingTrip = document.querySelector('#htmForm_deletefilterFishingTrip')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterFishingTrip')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterFishingTrip(event.target);
          return false;
        });
{%- block htmScriptInitFishingTripPage %}{%- endblock htmScriptInitFishingTripPage %}
      });
    </script>
{%- endblock htmScriptFishingTripPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketFishingTripPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketFishingTrip(websocketFishingTripInner);
{% endif %}
{%- endblock websocketFishingTripPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlFishingTripPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlFishingTripPage %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartFishingTripPage %}
{%- endblock htmBodyStartFishingTripPage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleFishingTripPage %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-FishingTrip">back to all fishing trips</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-FishingTrip" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-duotone fa-regular fa-fishing-rod"></i>
              all fishing trips
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no fishing trip found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-duotone fa-regular fa-fishing-rod"></i>
            </div>
            <span class="wa-heading-m ">no fishing trip found</span>
            <p class="wa-caption-l ">A fishing trip</p>
{% include en-us/search/fishing-trip/FishingTripSearchForm.htm %}
          </div>
        </div>
{% else %}
{%- include en-us/search/fishing-trip/FishingTripSidebar.htm %}
{%- include en-us/search/fishing-trip/FishingTripSuggestedSearch.htm %}
          <div>
            <form action="/en-us/api/fishing-trip" id="FishingTripForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listFishingTrip" id="listFishingTrip" class="listFishingTrip"  value='{{ toJsonArrayStringInApostrophes(listFishingTrip) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
              <wa-tooltip for="return-to-FishingTrip">back to all fishing trips</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-FishingTrip" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="fa-duotone fa-regular fa-fishing-rod"></i>
                  all fishing trips
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search fishing trips
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{% include en-us/search/fishing-trip/FishingTripSearchForm.htm %}
{% include en-us/search/fishing-trip/FishingTripSearchButtons.htm %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/fishing-trip/FishingTripPaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
              <wa-dropdown id="htmDropdown-name">
                <wa-button variant="brand" slot="trigger" caret>name</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishingTrip_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishingTrip').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-name-asc">
                    <wa-icon class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></wa-icon>
                    sort by name ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishingTrip_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishingTrip').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-name-desc">
                    <wa-icon class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></wa-icon>
                    sort by name descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <wa-dropdown id="htmDropdown-departureDate">
                <wa-button variant="brand" slot="trigger" caret>departure date</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishingTrip_departureDate'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishingTrip').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-departureDate-asc">
                    <wa-icon class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></wa-icon>
                    sort by departure date ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishingTrip_departureDate'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishingTrip').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-departureDate-desc">
                    <wa-icon class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></wa-icon>
                    sort by departure date descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <wa-dropdown id="htmDropdown-arrivalDate">
                <wa-button variant="brand" slot="trigger" caret>arrival date</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishingTrip_arrivalDate'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishingTrip').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-arrivalDate-asc">
                    <wa-icon class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></wa-icon>
                    sort by arrival date ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishingTrip_arrivalDate'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishingTrip').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-arrivalDate-desc">
                    <wa-icon class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></wa-icon>
                    sort by arrival date descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <wa-dropdown id="htmDropdown-description">
                <wa-button variant="brand" slot="trigger" caret>description</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishingTrip_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishingTrip').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                    <wa-icon class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></wa-icon>
                    sort by description ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishingTrip_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishingTrip').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                    <wa-icon class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></wa-icon>
                    sort by description descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <div></div>
                  </div>
                  {% for item in listFishingTrip%}
                  <div>
              <a href="{{ item.displayPage }}">
                <i class="fa-duotone fa-regular fa-fishing-rod"></i>
              <span>{{ item.name | e }}
</span>              </a>
              <a href="{{ item.displayPage }}">
              <span><wa-format-date weekday="short" month="short" day="numeric" year="numeric" hour="numeric" minute="numeric" second="numeric" time-zone-name="short" date="{{ formatZonedDateTime(item.departureDate, "yyyy-MM-dd'T'HH:mm:ss.SSSX", defaultLocaleId, "UTC") }}"></wa-format-date>
</span>              </a>
              <a href="{{ item.displayPage }}">
              <span><wa-format-date weekday="short" month="short" day="numeric" year="numeric" hour="numeric" minute="numeric" second="numeric" time-zone-name="short" date="{{ formatZonedDateTime(item.arrivalDate, "yyyy-MM-dd'T'HH:mm:ss.SSSX", defaultLocaleId, "UTC") }}"></wa-format-date>
</span>              </a>
              <a href="{{ item.displayPage }}">
              <span>{{ item.description | e }}
</span>              </a>
              <wa-button variant="brand"
                  id="{{classApiMethodMethod}}_editPage"
                  placeholder="[String] edit"
                  label="edit"
                  title="Edit this"
                  class="button-on-left {{classApiMethodMethod}}_editPage classFishingTrip inputFishingTrip{{ result.entityShortId }}EditPage "
                  name="setEditPage"
                  href="{{ item.editPage | e }}"
                  >
                <i class="fa-duotone fa-regular fa-pen-to-square"></i>
                edit
              </wa-button>
                  </div>
                  {% endfor %}
              {% if getColumnName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDepartureDate is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnArrivalDate is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnEditPage is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/fishing-trip/FishingTripPaginationButtons.htm %}
              </div>
            </div>
          </div>
{% endif %}
{%- endblock htmBodyMiddleFishingTripPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
  {{ super() }}
{%- block htmBodyEndFishingTripPage %}
{%- endblock htmBodyEndFishingTripPage %}
{%- endblock htmBodyEndPageLayout %}
