{% extends "en-us/Article.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.name" content="Vibe code a data-driven website with generative AI for smart aquaculture in Red Hat OpenShift AI at Red Hat Summit 2025 in Boston, Massachussetts"/>
    <meta name="result.description" content="Join our hands-on developer workshop for generating your own customizable Smart Aquaculture platform in the cloud"/>
    <meta name="result.authorName" content="Christopher Tate" />
    <meta name="result.authorUrl" content="https://computate.org/en-us/learn/about/about-christopher-tate" />
    <meta name="result.startDateTime" content="2025-05-20T10:30:00.000[America/New_York]"/>
    <meta name="result.endDateTime" content="2025-05-20T12:00:00.000[America/New_York]"/>
    <meta name="result.location" content="42.34540126087078, -71.04751409087456"/>
    <meta name="result.pageImageUri" content='/templates/en-us/shop/event/{{ result.pageId }}/jarvis-presenting-landscape.jpg'/>
{% endblock htmMetaPageLayout %}
{% block htmBodyMiddleArticle %}
{% include result.dialogTemplate %}
{% endblock %}
