{% extends "en-us/Article.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}"/>
    <meta name="result.name" content="Smart Aquaculture Code Generation Workshop at the NEDSI 2025 conference in Hershey, Pennsylvania"/>
    <meta name="result.description" content="Join our hands-on developer workshop for generating your own customizable Smart Aquaculture platform in the cloud"/>
    <meta name="result.authorName" content="Christopher Tate" />
    <meta name="result.authorUrl" content="https://computate.org/en-us/learn/about/about-christopher-tate" />
    <meta name="result.startDateTime" content="2025-03-27T09:00:00.000[America/New_York]"/>
    <meta name="result.endDateTime" content="2025-03-29T17:00:00.000[America/New_York]"/>
    <meta name="result.location" content="40.28517912425559, -76.6521018627664"/>
    <meta name="result.pageImageUri" content='/jpg/nedsi-conference-2025.jpg'/>
{% endblock htmMetaPageLayout %}
{% block htmBodyMiddleArticle %}
{% include result.dialogTemplate %}
{% endblock %}
