{%- macro inputPkCompanyWebinarPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pk">
  {%- endif %}
                  <wa-input
                      readonly
                      placeholder="[Long] primary key"
                      label="primary key"
                      type="number"
                      hint="The primary key of this object in the database"
                      id="CompanyWebinar_{{classApiMethodMethod}}_pk"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_pk setPk classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Pk "
                      name="setPk"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_pk setPk classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Pk "
                      name="setPk"
    {%- else %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_pk valuePk classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Pk "
                      name="pk"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.pk | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPkCompanyWebinarPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPkCompanyWebinarPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputCreatedCompanyWebinarPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_created">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A created timestamp for this record in the database"
                      label="created {{ formatZonedDateTime(result.created, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_created datetimepicker setCreated classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Created "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="CompanyWebinar_{{classApiMethodMethod}}_created"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.created is defined %}{{ formatZonedDateTime(result.created, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-pageId={{ result.pageId | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmCreatedCompanyWebinarPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputCreatedCompanyWebinarPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputModifiedCompanyWebinarPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_modified">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="A modified timestamp for this record in the database"
                      label="modified {{ formatZonedDateTime(result.modified, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_modified datetimepicker setModified classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Modified "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="CompanyWebinar_{{classApiMethodMethod}}_modified"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.modified is defined %}{{ formatZonedDateTime(result.modified, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-pageId={{ result.pageId | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmModifiedCompanyWebinarPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputModifiedCompanyWebinarPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputArchivedCompanyWebinarPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_archived">
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                  <wa-button variant="brand"
                      id="CompanyWebinar_{{classApiMethodMethod}}_archived"
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_archived classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Archived "
                      name="setArchived"
                      data-pageId={{ result.pageId | tojson }}
                      data-val="{{ result.archived | e }}"
                      >archive</wa-button>
  {%- else %}
  {% if 'Page' == classApiMethodMethod -%}
                  <wa-checkbox
                      id="CompanyWebinar_{{classApiMethodMethod}}_archived"
                      value="true"
  {%- else %}
                  <wa-select
                      id="CompanyWebinar_{{classApiMethodMethod}}_archived"
  {% endif -%}
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="archive"
                      label="archive"
                      hint="For archiving this record"
  {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_archived classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Archived "
                      name="setArchived"
  {%- else %}
    {%- if 'Page' == classApiMethodMethod %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_archived classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Archived "
                      name="setArchived"
    {%- else %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_archived setArchived valueArchived classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Archived "
                      name="setArchived"
    {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
    {%- if result.archived == true %}
                      checked
    {%- endif %}
                      data-pageId={{ result.pageId | tojson }}
                      >archive</wa-checkbox>
  {%- else %}
                      >
                    <wa-option value=""></wa-option>
                    <wa-option value="true">true</wa-option>
                    <wa-option value="false">false</wa-option>
                  </wa-select>
  {%- endif %}
  {%- endif %}
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmArchivedCompanyWebinarPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputArchivedCompanyWebinarPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNameCompanyWebinarPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_name">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] name"
                      label="name"
                      hint="The name of this webinar"
                      id="CompanyWebinar_{{classApiMethodMethod}}_name"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_name setName classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Name "
                      name="setName"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_name setName classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Name "
                      name="setName"
    {%- else %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_name valueName classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Name "
                      name="name"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.name | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNameCompanyWebinarPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNameCompanyWebinarPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputDescriptionCompanyWebinarPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_description">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] description"
                      label="description"
                      hint="A description of this webinar"
                      id="CompanyWebinar_{{classApiMethodMethod}}_description"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_description setDescription classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Description "
                      name="setDescription"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_description setDescription classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Description "
                      name="setDescription"
    {%- else %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_description valueDescription classCompanyWebinar inputCompanyWebinar{{ result.pageId }}Description "
                      name="description"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.description | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmDescriptionCompanyWebinarPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputDescriptionCompanyWebinarPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputWebinarUrlAmericasCompanyWebinarPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_webinarUrlAmericas">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] Webinar URL Americas"
                      label="Webinar URL Americas"
                      hint="The actual link to the Webinar in Americas"
                      id="CompanyWebinar_{{classApiMethodMethod}}_webinarUrlAmericas"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_webinarUrlAmericas setWebinarUrlAmericas classCompanyWebinar inputCompanyWebinar{{ result.pageId }}WebinarUrlAmericas "
                      name="setWebinarUrlAmericas"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_webinarUrlAmericas setWebinarUrlAmericas classCompanyWebinar inputCompanyWebinar{{ result.pageId }}WebinarUrlAmericas "
                      name="setWebinarUrlAmericas"
    {%- else %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_webinarUrlAmericas valueWebinarUrlAmericas classCompanyWebinar inputCompanyWebinar{{ result.pageId }}WebinarUrlAmericas "
                      name="webinarUrlAmericas"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.webinarUrlAmericas | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmWebinarUrlAmericasCompanyWebinarPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputWebinarUrlAmericasCompanyWebinarPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputWebinarUrlApacCompanyWebinarPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_webinarUrlApac">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] Webinar URL APAC"
                      label="Webinar URL APAC"
                      hint="The actual link to the Webinar in APAC"
                      id="CompanyWebinar_{{classApiMethodMethod}}_webinarUrlApac"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_webinarUrlApac setWebinarUrlApac classCompanyWebinar inputCompanyWebinar{{ result.pageId }}WebinarUrlApac "
                      name="setWebinarUrlApac"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_webinarUrlApac setWebinarUrlApac classCompanyWebinar inputCompanyWebinar{{ result.pageId }}WebinarUrlApac "
                      name="setWebinarUrlApac"
    {%- else %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_webinarUrlApac valueWebinarUrlApac classCompanyWebinar inputCompanyWebinar{{ result.pageId }}WebinarUrlApac "
                      name="webinarUrlApac"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.webinarUrlApac | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmWebinarUrlApacCompanyWebinarPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputWebinarUrlApacCompanyWebinarPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputWebinarUrlEmeaCompanyWebinarPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_webinarUrlEmea">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] Webinar URL EMEA"
                      label="Webinar URL EMEA"
                      hint="The actual link to the Webinar in EMEA"
                      id="CompanyWebinar_{{classApiMethodMethod}}_webinarUrlEmea"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_webinarUrlEmea setWebinarUrlEmea classCompanyWebinar inputCompanyWebinar{{ result.pageId }}WebinarUrlEmea "
                      name="setWebinarUrlEmea"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_webinarUrlEmea setWebinarUrlEmea classCompanyWebinar inputCompanyWebinar{{ result.pageId }}WebinarUrlEmea "
                      name="setWebinarUrlEmea"
    {%- else %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_webinarUrlEmea valueWebinarUrlEmea classCompanyWebinar inputCompanyWebinar{{ result.pageId }}WebinarUrlEmea "
                      name="webinarUrlEmea"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.webinarUrlEmea | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmWebinarUrlEmeaCompanyWebinarPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputWebinarUrlEmeaCompanyWebinarPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputIcalUrlCompanyWebinarPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_icalUrl">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] ICal URL"
                      label="ICal URL"
                      hint="The ICalendar URL for the events. "
                      id="CompanyWebinar_{{classApiMethodMethod}}_icalUrl"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_icalUrl setIcalUrl classCompanyWebinar inputCompanyWebinar{{ result.pageId }}IcalUrl "
                      name="setIcalUrl"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_icalUrl setIcalUrl classCompanyWebinar inputCompanyWebinar{{ result.pageId }}IcalUrl "
                      name="setIcalUrl"
    {%- else %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_icalUrl valueIcalUrl classCompanyWebinar inputCompanyWebinar{{ result.pageId }}IcalUrl "
                      name="icalUrl"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.icalUrl | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmIcalUrlCompanyWebinarPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputIcalUrlCompanyWebinarPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputNextWebinarCompanyWebinarPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_nextWebinar">
  {%- endif %}
                  <wa-input
                      type="datetime-local"
                      readonly
                      hint="The start date time of the next webinar. "
                      label="next webinar {{ formatZonedDateTime(result.nextWebinar, "'['VV']'", defaultLocaleId, defaultZoneId) | e }}"
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_nextWebinar datetimepicker setNextWebinar classCompanyWebinar inputCompanyWebinar{{ result.pageId }}NextWebinar "
                      placeholder="MM/dd/yyyy h:mm a '['VV']'"
                      data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
                      id="CompanyWebinar_{{classApiMethodMethod}}_nextWebinar"
  {% if 'Page' == classApiMethodMethod -%}
                      value="{%- if "Page" == classApiMethodMethod and result.nextWebinar is defined %}{{ formatZonedDateTime(result.nextWebinar, "yyyy-MM-dd'T'HH:mm", defaultLocaleId, defaultZoneId) | e }}{%- endif %}"
  {% endif -%}
                      data-pageId={{ result.pageId | tojson }}
                      data-zone="{{ defaultZoneId }}"
                      >
                  </wa-input>
  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmNextWebinarCompanyWebinarPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputNextWebinarCompanyWebinarPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}
{%- macro inputPageIdCompanyWebinarPage(classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) %}
  {%- if 'Page' == classApiMethodMethod %}
                <form class="subgrid-2col " id="PageForm_pageId">
  {%- endif %}
                  <wa-input
                      {% if authForWriteBool == true %}clearable{% else %}readonly{% endif %}
                      placeholder="[String] Page ID"
                      label="Page ID"
                      hint="The ID for this page. "
                      id="CompanyWebinar_{{classApiMethodMethod}}_pageId"
  {%- if "Page" == classApiMethodMethod %}
                      data-pageId={{ result.pageId | tojson }}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_pageId setPageId classCompanyWebinar inputCompanyWebinar{{ result.pageId }}PageId "
                      name="setPageId"
  {%- else %}
    {%- if "PATCH" == classApiMethodMethod %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_pageId setPageId classCompanyWebinar inputCompanyWebinar{{ result.pageId }}PageId "
                      name="setPageId"
    {%- else %}
                      class="label-on-left {{CompanyWebinar_classApiMethodMethod}}_pageId valuePageId classCompanyWebinar inputCompanyWebinar{{ result.pageId }}PageId "
                      name="pageId"
    {%- endif %}
  {%- endif %}
  {% if "Page" == classApiMethodMethod -%}
                      value="{{result.pageId | e }}"
  {% endif -%}
                      ></wa-input>

  {%- if 'Page' == classApiMethodMethod %}
                </form>
  {%- endif %}
{%- endmacro %}

{%- macro htmPageIdCompanyWebinarPage(classApiMethodMethod, authForWriteBool=false, authForReadBool=false) %}
                            {{ inputPageIdCompanyWebinarPage(classApiMethodMethod=classApiMethodMethod, authForWrite=authForWrite, authForRead=authForRead) }}
{%- endmacro %}

{%- macro htmFormButton_patchCompanyWebinar() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_patchCompanyWebinar" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_patchCompanyWebinar"
                >Modify webinar</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_patchCompanyWebinar"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_patchCompanyWebinar() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="patchCompanyWebinarDialog" label="Modify webinar">
          <form id="htmForm_patchCompanyWebinar" class="round-row primary-smart-border-radius ">

            <wa-details class="HtmRow" id="webinar-details">
              <div slot="summary">
                <span>webinar details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmNameCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmNameCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmNameCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmDescriptionCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmDescriptionCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmDescriptionCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmWebinarUrlAmericasCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmWebinarUrlAmericasCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmWebinarUrlAmericasCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmWebinarUrlApacCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmWebinarUrlApacCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmWebinarUrlApacCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmWebinarUrlEmeaCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmWebinarUrlEmeaCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmWebinarUrlEmeaCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmIcalUrlCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmIcalUrlCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmIcalUrlCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmNextWebinarCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmNextWebinarCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmNextWebinarCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="useful-urls">
              <div slot="summary">
                <span>Useful URLs</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmPageIdCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPageIdCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPageIdCompanyWebinarPage(classApiMethodMethod='PATCH', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_patchCompanyWebinar() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_postCompanyWebinar() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_postCompanyWebinar" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_postCompanyWebinar"
                >Create a webinar</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_postCompanyWebinar"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_postCompanyWebinar() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="postCompanyWebinarDialog" label="Create a webinar">
          <form id="htmForm_postCompanyWebinar" class="round-row primary-smart-border-radius ">
            <div>You can override any default values below: </div>

            <wa-details class="HtmRow" id="webinar-details">
              <div slot="summary">
                <span>webinar details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmNameCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmNameCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmNameCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmDescriptionCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmDescriptionCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmDescriptionCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmWebinarUrlAmericasCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmWebinarUrlAmericasCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmWebinarUrlAmericasCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmWebinarUrlApacCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmWebinarUrlApacCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmWebinarUrlApacCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmWebinarUrlEmeaCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmWebinarUrlEmeaCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmWebinarUrlEmeaCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmIcalUrlCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmIcalUrlCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmIcalUrlCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "POST" in scopes -%}
                {{ htmNextWebinarCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmNextWebinarCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmNextWebinarCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="useful-urls">
              <div slot="summary">
                <span>Useful URLs</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "POST" in scopes -%}
                {{ htmPageIdCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPageIdCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPageIdCompanyWebinarPage(classApiMethodMethod='POST', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </form>
          {{ htmFormButton_postCompanyWebinar() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_deleteCompanyWebinar() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deleteCompanyWebinar" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deleteCompanyWebinar"
                >Delete webinar</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deleteCompanyWebinar"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deleteCompanyWebinar() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deleteCompanyWebinarDialog" label="Delete webinar">
          <form id="htmForm_deleteCompanyWebinar" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deleteCompanyWebinar() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmFormButton_putimportCompanyWebinar() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_putimportCompanyWebinar" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_putimportCompanyWebinar"
                >Import webinars</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_putimportCompanyWebinar"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_putimportCompanyWebinar() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="putimportCompanyWebinarDialog" label="Import webinars">
          <form id="htmForm_putimportCompanyWebinar" class="round-row primary-smart-border-radius ">
            <div>
              <wa-textarea
                  class="PUTImport_searchList "
                  style="height: 300px; "
                  placeholder="{ 'searchList': [ { 'pageId': ... , 'saves': [ ... ] }, ... ] }"
                  >
              </wa-textarea>
            </div>
          </form>
          {{ htmFormButton_putimportCompanyWebinar() }}
        </wa-dialog>
{%- endmacro %}

{%- macro htmForm_searchpageCompanyWebinar() %}
        <div with-header with-footer style="--width: 50vw; " id="searchpageCompanyWebinarDialog" label="Search webinars">
          <div id="htmForm_searchpageCompanyWebinar" class="round-row primary-smart-border-radius ">

            <wa-details class="HtmRow" id="primary-key-id-created-modified-archive-details">
              <div slot="summary">
                <span>primary key, ID, created, modified, archive details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmPkCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPkCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPkCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmCreatedCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmCreatedCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmCreatedCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmModifiedCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmModifiedCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmModifiedCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmArchivedCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmArchivedCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmArchivedCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details class="HtmRow" id="webinar-details">
              <div slot="summary">
                <span>webinar details</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmNameCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmNameCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmNameCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmDescriptionCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmDescriptionCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmDescriptionCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>

              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmWebinarUrlAmericasCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmWebinarUrlAmericasCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmWebinarUrlAmericasCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmWebinarUrlApacCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmWebinarUrlApacCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmWebinarUrlApacCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmWebinarUrlEmeaCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmWebinarUrlEmeaCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmWebinarUrlEmeaCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmIcalUrlCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmIcalUrlCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmIcalUrlCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}

                {% if "PATCH" in scopes -%}
                {{ htmNextWebinarCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmNextWebinarCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmNextWebinarCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>

            <wa-details open class="HtmRow" id="useful-urls">
              <div slot="summary">
                <span>Useful URLs</span>
              </div>
              <div class="grid-with-subgrid-2col ">
                {% if "PATCH" in scopes -%}
                {{ htmPageIdCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=true, authForReadBool=true) }}
                {% else -%}
                {% if "GET" in scopes -%}
                {{ htmPageIdCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=true) }}
                {% else -%}
                {{ htmPageIdCompanyWebinarPage(classApiMethodMethod='Page', authForWriteBool=false, authForReadBool=false) }}
                {%- endif %}
                {%- endif %}
              </div>
            </wa-details>
          </div>
        </div>
{%- endmacro %}

{%- macro htmFormButton_deletefilterCompanyWebinar() %}
          <wa-popup  auto-size="both" placement="top" id="alertButton_deletefilterCompanyWebinar" duration="5000" closable class="wa-header-l ">
            <wa-button slot="anchor" variant="brand" slot="footer" type="submit"
                 id="htmFormButton_deletefilterCompanyWebinar"
                >Delete webinar</wa-button>
            <wa-badge class="alertPopup" id="alertPopupButton_deletefilterCompanyWebinar"></wa-badge>
          </wa-popup>
{%- endmacro %}

{%- macro htmForm_deletefilterCompanyWebinar() %}
        <wa-dialog with-header with-footer style="--width: 50vw; " id="deletefilterCompanyWebinarDialog" label="Delete webinar">
          <form id="htmForm_deletefilterCompanyWebinar" class="round-row primary-smart-border-radius ">
          </form>
          {{ htmFormButton_deletefilterCompanyWebinar() }}
        </wa-dialog>
{%- endmacro %}
