{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleFishingDockPage %}
    <title>{% if resultCount == 0 %}no fishing dock found{% else %}fishing docks{% endif %}</title>
{%- endblock htmTitleFishingDockPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/fishing-dock/FishingDock.css"/>
{%- block htmStylesFishingDockPage %}
{%- endblock htmStylesFishingDockPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleFishingDockPage %}
{%- endblock htmStyleFishingDockPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsFishingDockPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/fishing-dock/FishingDock.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/fishing-dock/FishingDockSearchPage.js"></script>
{%- endblock htmScriptsFishingDockPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptFishingDockPage %}
    <script>

      function jsWebsocketFishingDock(id, vars, $response) {
{%- block jsWebsocketFishingDockPage %}{%- endblock %}
      }

      function jsTooltipFishingDock(e, feature) {
{%- block jsTooltipFishingDockPage %}{%- endblock %}
      }

      function htmTooltipFishingDock(feature, layer) {
        return `{%- block htmTooltipFishingDockPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipFishingDockPage %}`;
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
      ]).then(() => {

        var id = {% if result.id is defined %}{{ result.id | tojson }}{% else %}null{% endif %};

        if(id == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.id is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listFishingDock')?.value;
        if(l)
          window.listFishingDock = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphFishingDock();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qFishingDock_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('FishingDock', event.target, document.querySelector('#qFishingDockDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qFishingDock_rows')?.addEventListener('change', event => {
          paramChange('FishingDock', event.target, document.querySelector('#qFishingDockDiv_rows'));
        });

        document.querySelector('#qFishingDock_start')?.addEventListener('change', event => {
          paramChange('FishingDock', event.target, document.querySelector('#qFishingDockDiv_start'));
        });


        var submitForm_patchFishingDock = document.querySelector('#htmForm_patchFishingDock')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchFishingDock')?.addEventListener('click', event => {
          event.preventDefault();
          patchFishingDock(null, document.querySelector('#htmForm_patchFishingDock'), document.querySelector('#htmFormButton_patchFishingDock'), event.target.getAttribute('data-id'));
          return false;
        });

        var submitForm_postFishingDock = document.querySelector('#htmForm_postFishingDock')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postFishingDock')?.addEventListener('click', event => {
          event.preventDefault();
          postFishingDock(document.querySelector('#htmForm_postFishingDock')
          , document.querySelector('#htmFormButton_postFishingDock')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteFishingDock = document.querySelector('#htmForm_deleteFishingDock')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteFishingDock')?.addEventListener('click', event => {
          event.preventDefault();
          deleteFishingDock(event.target, event.target.getAttribute('data-id'));
          return false;
        });

        var submitForm_putimportFishingDock = document.querySelector('#htmForm_putimportFishingDock')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportFishingDock')?.addEventListener('click', event => {
          event.preventDefault();
          putimportFishingDock(document.querySelector('#htmForm_putimportFishingDock'), document.querySelector('#htmFormButton_putimportFishingDock'));
          return false;
        });

        var submitForm_searchpageFishingDock = document.querySelector('#htmForm_searchpageFishingDock')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageFishingDock')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageFishingDock();
          return false;
        });

        var submitForm_deletefilterFishingDock = document.querySelector('#htmForm_deletefilterFishingDock')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterFishingDock')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterFishingDock(event.target);
          return false;
        });
      });
    </script>
{%- endblock htmScriptFishingDockPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketFishingDockPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketFishingDock(websocketFishingDockInner);
{% endif %}
{%- endblock websocketFishingDockPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlFishingDockPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlFishingDockPage %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartFishingDockPage %}
{%- endblock htmBodyStartFishingDockPage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleFishingDockPage %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-FishingDock">back to all fishing docks</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-FishingDock" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-duotone fa-regular fa-lighthouse"></i>
              all fishing docks
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no fishing dock found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-duotone fa-regular fa-lighthouse"></i>
            </div>
            <span class="wa-heading-m ">no fishing dock found</span>
            <p class="wa-caption-l ">A fishing dock</p>
{% include en-us/search/fishing-dock/FishingDockSearchForm.htm %}
          </div>
        </div>
{% else %}
{%- include en-us/search/fishing-dock/FishingDockSidebar.htm %}
{%- include en-us/search/fishing-dock/FishingDockSuggestedSearch.htm %}
          <div>
            <form action="/en-us/api/fishing-dock" id="FishingDockForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listFishingDock" id="listFishingDock" class="listFishingDock"  value='{{ toJsonArrayStringInApostrophes(listFishingDock) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
              <wa-tooltip for="return-to-FishingDock">back to all fishing docks</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-FishingDock" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="fa-duotone fa-regular fa-lighthouse"></i>
                  all fishing docks
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search fishing docks
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{% include en-us/search/fishing-dock/FishingDockSearchForm.htm %}
{% include en-us/search/fishing-dock/FishingDockSearchButtons.htm %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/fishing-dock/FishingDockPaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
              <wa-dropdown id="htmDropdown-name">
                <wa-button variant="brand" slot="trigger" caret>name</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishingDock_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishingDock').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-name-asc">
                    <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by name ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishingDock_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishingDock').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-name-desc">
                    <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by name descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <wa-dropdown id="htmDropdown-description">
                <wa-button variant="brand" slot="trigger" caret>description</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishingDock_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishingDock').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                    <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by description ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishingDock_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishingDock').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                    <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by description descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <div></div>
                  </div>
                  {% for item in listFishingDock%}
                  <div>
              <a href="{{ item.displayPage }}">
                <i class="fa-duotone fa-regular fa-lighthouse"></i>
              <span>{{ item.name | e }}
</span>              </a>
              <a href="{{ item.displayPage }}">
              <span>{{ item.description | e }}
</span>              </a>
              <wa-button variant="brand"
                  id="{{classApiMethodMethod}}_editPage"
                  placeholder="[String] edit"
                  label="edit"
                  title="Edit this"
                  class="button-on-left {{classApiMethodMethod}}_editPage classFishingDock inputFishingDock{{ result.id }}EditPage "
                  name="setEditPage"
                  href="{{ item.editPage | e }}"
                  >
                <i class="fa-duotone fa-regular fa-pen-to-square"></i>
                edit
              </wa-button>
                  </div>
                  {% endfor %}
              {% if getColumnName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnEditPage is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/fishing-dock/FishingDockPaginationButtons.htm %}
              </div>
            </div>
          </div>
{% endif %}
{%- endblock htmBodyMiddleFishingDockPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
  {{ super() }}
{%- block htmBodyEndFishingDockPage %}
{%- endblock htmBodyEndFishingDockPage %}
{%- endblock htmBodyEndPageLayout %}
