{% include fr-fr/rechercher/bateau-de-peche/FishingBoatSearchFormMacros.htm %}
{% include fr-fr/rechercher/bateau-de-peche/FishingBoatSearchFormMacros.htm %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchFishingBoat() }}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postFishingBoat() }}
  {%- else %}
    {{ htmForm_postFishingBoat() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteFishingBoat() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportFishingBoat() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterFishingBoat() }}
  {%- else %}
  {%- endif %}
{%- endif %}
