
          <div class="sl-split ">
            <sl-tooltip for="PaginationButtonsPrevious" placement="top" content="Show the previous results"></sl-tooltip>
            <sl-tooltip for="PaginationButtonsDecrease" placement="top" content="Show half the results"></sl-tooltip>
            <sl-tooltip for="PaginationButtonsIncrease" placement="top" content="Show double the results"></sl-tooltip>
            <sl-tooltip for="PaginationButtonsNext" placement="top" content="Show the next results"></sl-tooltip>
            <div class="sl-caption-l ">{{ pagination.startNum }} – {{ pagination.endNum }} of {{ pagination.foundNum }} fishing trips</div>
            <sl-button-group size="small" class="sl-cluster sl-gap-xs " id="htmPaginationButtons">
              <sl-button id="PaginationButtonsPrevious" variant="primary" outline{% if pagination.pagePrevious is defined %} href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}"{% else %} disabled{% endif %}>
                <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-arrow-square-left "></i>
                Previous
              </sl-button>
              <sl-button id="PaginationButtonsDecrease" variant="primary" outline{% if pagination.rowsPrevious >= pagination['1L'] %} href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}"{% else %} disabled{% endif %}>
                <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-minus-square "></i>
                Less
              </sl-button>
              <sl-button id="PaginationButtonsIncrease" variant="primary" outline href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
                <i slot="prefix" class="{{ FONTAWESOME_STYLE }} fa-plus-square "></i>
                More
              </sl-button>
              <sl-button id="PaginationButtonsNext" variant="primary" outline{% if pagination.pageNext is defined %} href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}"{% else %} disabled{% endif %}>
                Next
                <i slot="suffix" class="{{ FONTAWESOME_STYLE }} fa-arrow-square-right "></i>
              </sl-button>
            </sl-button-group>
          </div>
