{% extends "en-us/PageLayout.htm" %}
{% block htmTitlePageLayout %}
		<title>smart-aquaculture</title>
{% endblock %}
{%- block htmScriptsPageLayout %}
{{ super() }}
    <script type="module">
      Promise.all([
        customElements.whenDefined('wa-button')
      ]).then(() => {

        Promise.all([
            queryWebinars()
            ]);
      });

      async function queryWebinars() {
        var query = Object.assign({ query: '' });
        var response = await fetch( '/en-us/api/webinar', { method: 'GET' });
        if(response.ok) {
          response.json().then(function(responseJson) {
            var result = responseJson.list[0];
            var nextWebinarDateStr = result.nextWebinar.substring(0, result.nextWebinar.indexOf('['));
            var nextWebinarZone = result.nextWebinar.substring(result.nextWebinar.indexOf('[') + 1, result.nextWebinar.indexOf(']'));
            const nextWebinarOptions = {
              timeZone: nextWebinarZone,
              year: 'numeric',
              month: 'numeric',
              day: 'numeric',
              hour: 'numeric',
              minute: 'numeric',
              second: 'numeric',
            };
            var nextWebinarFormatter = new Intl.DateTimeFormat('en-US', nextWebinarOptions);
            const prettyWebinarOptions = {
              timeZone: nextWebinarZone,
              weekday: 'short',
              year: 'numeric',
              month: 'short',
              day: 'numeric',
              hour: 'numeric',
              minute: 'numeric',
              second: 'numeric',
              timeZoneName: 'long'
            };
            var prettyWebinarFormatter = new Intl.DateTimeFormat('en-US', prettyWebinarOptions);
            var nextWebinarTz = moment.tz(nextWebinarDateStr, nextWebinarZone);
            var userTz = moment.tz.guess();
            var nextWebinar = nextWebinarTz.clone().tz(userTz).format('LLLL zz') + " " + userTz;
            document.querySelector('#webinar-button').setAttribute('href', result.webinarUrlAmericas);
            document.querySelector('#webinar-relative-time').setAttribute('date', nextWebinarTz.toISOString());
            document.querySelector('#webinar-format-time').innerText = nextWebinar;
            var $webinarsTbody = document.querySelector('#webinars-tbody');
            $webinarsTbody.innerHTML = '';
            var sortedDates = result.nextWebinarsBegin.map(weekdayWebinarStr => moment.tz(weekdayWebinarStr.substring(0, result.nextWebinar.indexOf('[')), nextWebinarZone)).sort((a, b) => {
              return a.isAfter(b);
            });
            sortedDates.forEach((weekdayWebinarTz, index) => {
              var $tr = document.createElement('tr');
              var $td = document.createElement('td');
              var weekdayWebinar = weekdayWebinarTz.clone().tz(userTz).format('LLLL zz') + " " + userTz;
              $td.innerText = weekdayWebinar;
              $tr.append($td);
              $webinarsTbody.append($tr);
            });
          });
        } else {
          throw new Error(`Failed to query GPU nodes total: ${response.status}`);
        }
      }
    </script>
{%- endblock htmScriptsPageLayout %}
{% block htmBodyMiddlePageLayout %}

      <main slot="main" class="wa-stack">
        <h3>Current smart aquaculture models we are tracking</h3>
        <div class="wa-grid">
          <wa-callout variant="neutral" appearance="filled">
            <wa-icon slot="icon" class="fa-regular fa-bridge-water fa-2xl "></wa-icon>
            <div class="wa-stack wa-gap-0">
              <h4 class="wa-heading-xs">Fishing docks</h4>
              <div class="wa-heading-2xl">{{ facetClass.counts.FishingDock }}</div>
            </div>
          </wa-callout>
          <wa-callout variant="brand" appearance="filled">
            <wa-icon slot="icon" class="fa-regular fa-industry-windows fa-2xl "></wa-icon>
            <div class="wa-stack wa-gap-0">
              <h4 class="wa-heading-xs">Fish processing plants</h4>
              <div class="wa-heading-2xl">{{ facetClass.counts.FishProcessing }}</div>
            </div>
          </wa-callout>
          <wa-callout variant="brand" appearance="filled">
            <wa-icon slot="icon" class="fa-regular fa-boat fa-2xl "></wa-icon>
            <div class="wa-stack wa-gap-0">
              <h4 class="wa-heading-xs">Fishing boats</h4>
              <div class="wa-heading-2xl">{{ facetClass.counts.FishingBoat }}</div>
            </div>
          </wa-callout>
        </div>

        <div class="wa-stack ">

          <wa-tooltip for="carousel-item-0" placement="left" hoist>Authorization permissions</wa-tooltip>
          <wa-tooltip for="carousel-item-1" placement="left" hoist>Database tables</wa-tooltip>
          <wa-tooltip for="carousel-item-2" placement="left" hoist>Fish populations dashboard</wa-tooltip>
          <wa-tooltip for="carousel-item-3" placement="left" hoist>Layout</wa-tooltip>
          <wa-tooltip for="carousel-item-4" placement="left" hoist>NGSI-LD context</wa-tooltip>
          <wa-tooltip for="carousel-item-5" placement="left" hoist>OpenShift topology</wa-tooltip>
          <wa-tooltip for="carousel-item-6" placement="left" hoist>Cloud secrets</wa-tooltip>
          <wa-tooltip for="carousel-item-7" placement="left" hoist>VSCode workbench</wa-tooltip>

          <wa-carousel style="--aspect-ratio: 16/4; " autoplay loop navigation pagination autoplay-interval="5000">
            <wa-carousel-item>
              <a id="carousel-item-7" href="">
                <img src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-vscode-workbench.png">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-6" href="">
                <img src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-secrets.png">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-5" href="">
                <img src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-openshift-topology.png">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-4" href="">
                <img src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-ngsild-context.png">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-3" href="">
                <img src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-layout.png">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-2" href="">
                <img src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-fish-populations.png">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-1" href="">
                <img src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-database-tables.png">
              </a>
            </wa-carousel-item>
            <wa-carousel-item>
              <a id="carousel-item-0" href="">
                <img src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-auth-permissions.png">
              </a>
            </wa-carousel-item>
          </wa-carousel>

          <div class="wa-stack main-content ">
            <div class="wa-flank">
              <i class="{{ FONTAWESOME_STYLE }} fa-video fa-2x "></i>
              <h2>
                Watch the free Smart Aquaculture Developer Webinar on Zoom or live streaming to Youtube. 
              </h2>
            </div>
            <div class="wa-stack ">
              <div class="wa-flank">
                <p>
                  Watch the smart-aquaculture project use the Computate Smart Cloud Deployer to deploy all the required microservices to the cloud, 
                  then do live development adding new features to the smart-aquaculture project in OpenShift AI VSCode Java Workbench. 
                </p>
              </div>
              <wa-card>
                <div class="wa-stack ">
                  <wa-callout variant="brand" appearance="filled-outlined">
                    <i slot="icon" class="fa-kit fa-computate-c-key fa-bounce fa-2xl"></i>
                    <h3 class="brand-font">
                      The Computate AI Developer Webinar will occur live each weekday. 
                    </h3>
                  </wa-callout>
                  <wa-button id="webinar-button" variant="brand" label="Join the webinar" href="{{ result.webinarUrlAmericas }}">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-video fa-2xl" aria-hidden="true"></i>
                    Join webinar
                  </wa-button>
                  <div class="wa-flank ">
                    <wa-relative-time id="webinar-relative-time" format="long" sync="true" date=""></wa-relative-time>
                    <div id="webinar-format-time"></div>
                  </div>
                  <div>
                    <p>
                      Here are the rest of the upcoming webinars for the next week: 
                    </p>
                    <table class="wa-zebra-rows wa-hover-rows">
                      <tbody id="webinars-tbody">
                      </tbody>
                    </table>
                  </div>
                  <h3>
                    Previous livestreams
                  </h3>
                  <div>
                    Previous livestreams are available on youtube for Smart Aquaculture, and AI Telemetry related topics. 
                  </div>
                  <wa-button id="webinar-button" variant="brand" label="Join the webinar" href="https://www.youtube.com/channel/UC3ryOB2snhO7fItkx6dGx2Q/">
                    <i slot="start" label="Follow us on Youtube" class="fa-brands fa-youtube fa-2xl"></i>
                    View livestreams
                  </wa-button>
                </div>
              </wa-card>

              <div>
                You can learn more about the use case for Computate open source software for Smart Aquaculture. 
              </div>
              <wa-card>
                <div>
                  <wa-button id="webinar-button" variant="brand" label="Join the webinar" href="{{ SITE_BASE_URL }}/en-us/shop/use-case/smart-aquaculture-use-case">
                    <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-video" aria-hidden="true"></i>
                    Read use case
                  </wa-button>
                </div>
              </wa-card>
            </div>
          </div>

          <div class="wa-stack">
            <div class="wa-split">
              <h3 class="wa-heading-l">Recent articles</h3>
              <a href="{{ SITE_BASE_URL }}/en-us/search/article" class="wa-cluster">
                <span>Browse all articles</span>
                <wa-icon name="arrow-right"></wa-icon>
              </a>
            </div>
            <p>
              Read the latest articles about the {{ SITE_DISPLAY_NAME }} platform and how to get started. 
            </p>
            <wa-carousel navigation pagination slides-per-page="2" slides-per-move="2" style="--aspect-ratio: initial">
              {% for article in recentArticles %}
              <wa-carousel-item>
                <a href="{{ article.displayPage }}" class="wa-link-plain">
                  <wa-card with-image>
                    <div class="wa-frame:landscape" slot="media"{% if article.pageImageWidth %} style="aspect-ratio: {{ article.pageImageWidth }} / {{ article.pageImageHeight }}; "{% endif %}>
                      <wa-frame>
                        <img
                            src="{{ STATIC_BASE_URL }}{{ article.pageImageUri }}"
{%- if article.pageImageAlt is defined %}
                            alt="{{ article.name | e }}"
{%- endif %}
                            />
                      </wa-frame>
                    </div>
                    <div class="wa-stack wa-gap-xs">
                      <div class="wa-heading-m">{{ article.name | e }}</div>
                      <div class="wa-caption-m">{{ article.description | e }}</div>
                    </div>
                  </wa-card>
                </a>
              </wa-carousel-item>
              {% endfor %}
            </wa-carousel>
          </div>

          <wa-card class="red-pink-background ">
            <div class="wa-stack ">
              <div class="wa-flank ">
                <i class="fa-brands fa-redhat fa-8x "></i>
                <div>
                  <h1 class="brand-font">
                    Vibe code a data-driven website with generative AI for smart aquaculture in Red Hat OpenShift AI
                  </h1>
                  <h2 class="brand-font">
                    at the Red Hat Summit May 20, 2025 in Boston, Massachussetts
                  </h2>
                </div>
              </div>
              <wa-card>
                <div class="wa-align-items-center wa-grid wa-gap-3xl ">
                  <div class="wa-frame wa-border-radius-l ">
                    <img src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-vscode-workbench.png"/>
                  </div>
                  <div class="wa-stack ">
                    <h3 class="wa-heading-xl ">
                      Smart Aquaculture workshop at Red Hat Summit 2025
                    </h3>
                    <p class="wa-caption-l ">
                      This course will become available for participants at the 
                      <a href="https://events.experiences.redhat.com/widget/redhat/sum25/SessionCatalog2025/session/1731473553640001dRBg">Red Hat Summit 2025</a>
                      in Boston, Massachussetts, USA Tuesday May 20, 2025 10:30 AM - 12:00 PM EDT. 
                    </p>
                    <div>
                      <div>Speakers:</div>
                      <ul>
                        <li>Dewayne Branch, CEO, Founder, Qatar Strategic Business Group</li>
                        <li>Jarvis Green, Founder, Green Reef Foundation</li>
                        <li>Christopher Tate, Principal Software Engineer, Red Hat</li>
                      </ul>
                    </div>
                    <div>
                      <wa-button id="order-button" class="gradient-button pink-purple-background" variant="neutral" href="{{ SITE_BASE_URL }}/en-us/shop/event/smart-aquaculture-red-hat-summit-2025">
                        <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                        Learn more
                      </wa-button>
                    </div>
                  </div>
                </div>
              </wa-card>
            </div>
          </wa-card>

        </div>
      </main>
{% endblock %}
