{% extends "fr-fr/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleFishPopulationPage %}
    <title>{% if resultCount == 0 %}aucune population de poissons trouvée{% else %}population de poissons{% endif %}</title>
{%- endblock htmTitleFishPopulationPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/fr-fr/rechercher/population-poissons/FishPopulation.css"/>
{%- block htmStylesFishPopulationPage %}
{%- endblock htmStylesFishPopulationPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 2;
      }
{{ super() }}
{%- block htmStyleFishPopulationPage %}
{%- endblock htmStyleFishPopulationPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsFishPopulationPage %}
    <script src="{{staticBaseUrl}}/js/fr-fr/rechercher/population-poissons/FishPopulation.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/fr-fr/rechercher/population-poissons/FishPopulationSearchPage.js"></script>
{%- endblock htmScriptsFishPopulationPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptFishPopulationPage %}
    <script>

      function jsWebsocketFishPopulation(entityShortId, vars, $response) {
{%- block jsWebsocketFishPopulationPage %}{%- endblock %}
      }

      function jsTooltipFishPopulation(e, feature) {
{%- block jsTooltipFishPopulationPage %}{%- endblock %}
      }

      function htmTooltipFishPopulation(feature, layer) {
        return `{%- block htmTooltipFishPopulationPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPageFrFR)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipFishPopulationPage %}`;
      }

      function jsLegendFishPopulation(map) {
{%- block jsLegendFishPopulationPage %}
        var div = L.DomUtil.create('div', 'info legend');
        var htm = '';
        window.listFishPopulation.forEach((result, index) => {
          if(result.location) {
            var shapes = [];
            if(Array.isArray(result.location))
              shapes = shapes.concat(result.location);
            else
              shapes.push(result.location);
            shapes.forEach(function(shape, index) {
              htm += htmLegendFishPopulation(map, shape, result, index, shapes.length);
            });
          }
          if(result.areaServed) {
            var shapes = [];
            if(Array.isArray(result.areaServed))
              shapes = shapes.concat(result.areaServed);
            else
              shapes.push(result.areaServed);
            shapes.forEach(function(shape, index) {
              htm += htmLegendFishPopulation(map, shape, result, index, shapes.length);
            });
          }
        });
        div.innerHTML = htm;
        return div;
{%- endblock jsLegendFishPopulationPage %}
      }

      function htmLegendFishPopulation(map, shape, result, index, count) {
        var color = result.areaServedColors[index];
        var title = result.areaServedTitles[index];
        var url = result.areaServedLinks[index];
        var htm = '';
        htm += `<div class="cursor-pointer " style="max-width: 400px; ">
`;
        htm += `{%- block htmLegendFishPopulationPage %}
    <div title="${quoteattr(title)}">
    <div style="width: 20px; ">
      <i class="{{ FONTAWESOME_STYLE }} fa-circle" style="color: ${color}; "></i>
    </div>
    <div class="text-overflow-ellipsis ">
      <span class="" data-solrId="${result.solrId}" onclick="window.mapLayers[this.getAttribute('data-solrId')].openPopup(); return false;" href="">${title}</span>
    </div>
    </div>
{%- endblock htmLegendFishPopulationPage %}`;
        htm += `
</div>
`;
        return htm;
      }

      function jsStyleFishPopulation(feature) {
{%- block jsStyleFishPopulationPage %}
        if(feature.geometry.type == 'Point') {
          return {
            radius: 8
            , fillColor: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 1
            , opacity: 0.7
            , fillOpacity: 0.7
            , contextmenu: true
            , contextmenuItems: [
              {
                text: 'Show coordinates'
                , callback: function(event) {
                  alert(event2.target.getLatLngs());
                }
              }
            ]
          };
        } else if(feature.geometry.type == 'LineString') {
          return {
            color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 5
            , opacity: 0.7
          };
        } else {
          return {
             fillColor: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 3
            , opacity: 0.7
            , fillOpacity: 0.7
          };
        }
{%- endblock jsStyleFishPopulationPage %}
      }

      function facetChangeFishPopulationSuccess(e) {
        var l = e.querySelector('.pageForm .listFishPopulation')?.value;
        if(l)
          window.listFishPopulation = JSON.parse(l);
{% block facetChangeFishPopulationSuccess %}{%- endblock facetFishPopulationSuccess %}
      }
      function facetChangeFishPopulationError(e) {
{% block facetChangeFishPopulationError %}{%- endblock facetFishPopulationError %}
      }

      function facetSimpleRangeFishPopulationSuccess(e) {
{% block facetSimpleRangeFishPopulationSuccess %}      facetChangeFishPopulationSuccess(e);{% endblock facetSimpleRangeFishPopulationSuccess %}
      }
      function facetSimpleRangeFishPopulationError(e) {
{% block facetSimpleRangeFishPopulationError %}      facetChangeFishPopulationError(e);{% endblock facetSimpleRangeFishPopulationError %}
      }
      function facetSimpleRangeFishPopulation(e) {
        facetSimpleRange(e, facetSimpleRangeFishPopulationSuccess, facetSimpleRangeFishPopulationError);
      }

      function facetRangeTimeZoneFishPopulationSuccess(e) {
{% block facetRangeTimeZoneFishPopulationSuccess %}      facetChangeFishPopulationSuccess(e);{% endblock facetRangeTimeZoneFishPopulationSuccess %}
      }
      function facetRangeTimeZoneFishPopulationError(e) {
{% block facetRangeTimeZoneFishPopulationError %}      facetChangeFishPopulationError(e);{%- endblock facetRangeTimeZoneFishPopulationError %}
      }
      function facetRangeTimeZoneFishPopulation(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneFishPopulationSuccess, facetRangeTimeZoneFishPopulationError);
      }

      function facetRangeGapChangeFishPopulationSuccess(e) {
{% block facetRangeGapChangeFishPopulationSuccess %}      facetChangeFishPopulationSuccess(e);{% endblock facetRangeGapChangeFishPopulationSuccess %}
      }
      function facetRangeGapChangeFishPopulationError(e) {
{% block facetRangeGapChangeFishPopulationError %}      facetChangeFishPopulationError(e);{%- endblock facetRangeGapChangeFishPopulationError %}
      }
      function facetRangeGapChangeFishPopulation(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeFishPopulationSuccess, facetRangeGapChangeFishPopulationError);
      }

      function facetRangeStartChangeFishPopulationSuccess(e) {
{% block facetRangeStartChangeFishPopulationSuccess %}      facetChangeFishPopulationSuccess(e);{% endblock facetRangeStartChangeFishPopulationSuccess %}
      }
      function facetRangeStartChangeFishPopulationError(e) {
{% block facetRangeStartChangeFishPopulationError %}      facetChangeFishPopulationError(e);{%- endblock facetRangeStartChangeFishPopulationError %}
      }
      function facetRangeStartChangeFishPopulation(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeFishPopulationSuccess, facetRangeStartChangeFishPopulationError);
      }

      function facetRangeEndChangeFishPopulationSuccess(e) {
{% block facetRangeEndChangeFishPopulationSuccess %}      facetChangeFishPopulationSuccess(e);{% endblock facetRangeEndChangeFishPopulationSuccess %}
      }
      function facetRangeEndChangeFishPopulationError(e) {
{% block facetRangeEndChangeFishPopulationError %}      facetChangeFishPopulationError(e);{%- endblock facetRangeEndChangeFishPopulationError %}
      }
      function facetRangeEndChangeFishPopulation(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeFishPopulationSuccess, facetRangeEndChangeFishPopulationError);
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {

        var entityShortId = {% if result.entityShortId is defined %}{{ result.entityShortId | tojson }}{% else %}null{% endif %};

        if(entityShortId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.entityShortId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listFishPopulation')?.value;
        if(l)
          window.listFishPopulation = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneFishPopulation);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneFishPopulation);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneFishPopulation);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeFishPopulation);
        pageGraphFishPopulation();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qFishPopulation_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('FishPopulation', event.target, document.querySelector('#qFishPopulationDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qFishPopulation_rows')?.addEventListener('change', event => {
          paramChange('FishPopulation', event.target, document.querySelector('#qFishPopulationDiv_rows'));
        });

        document.querySelector('#qFishPopulation_start')?.addEventListener('change', event => {
          paramChange('FishPopulation', event.target, document.querySelector('#qFishPopulationDiv_start'));
        });


        var submitForm_searchpagefrfrFishPopulation = document.querySelector('#htmForm_searchpagefrfrFishPopulation')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpagefrfrFishPopulation')?.addEventListener('click', event => {
          event.preventDefault();
          searchpagefrfrFishPopulation();
          return false;
        });

        var submitForm_patchFishPopulation = document.querySelector('#htmForm_patchFishPopulation')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchFishPopulation')?.addEventListener('click', event => {
          event.preventDefault();
          patchFishPopulation(null, document.querySelector('#htmForm_patchFishPopulation'), document.querySelector('#htmFormButton_patchFishPopulation'), event.target.getAttribute('data-entityShortId'));
          return false;
        });

        var submitForm_postFishPopulation = document.querySelector('#htmForm_postFishPopulation')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postFishPopulation')?.addEventListener('click', event => {
          event.preventDefault();
          postFishPopulation(document.querySelector('#htmForm_postFishPopulation')
          , document.querySelector('#htmFormButton_postFishPopulation')
          , (json, target) => {
            window.location.href = json.editPageFrFR;
          });
          return false;
        });

        var submitForm_deleteFishPopulation = document.querySelector('#htmForm_deleteFishPopulation')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteFishPopulation')?.addEventListener('click', event => {
          event.preventDefault();
          deleteFishPopulation(event.target, event.target.getAttribute('data-entityShortId'));
          return false;
        });

        var submitForm_putimportFishPopulation = document.querySelector('#htmForm_putimportFishPopulation')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportFishPopulation')?.addEventListener('click', event => {
          event.preventDefault();
          putimportFishPopulation(document.querySelector('#htmForm_putimportFishPopulation'), document.querySelector('#htmFormButton_putimportFishPopulation'));
          return false;
        });

        var submitForm_searchpageFishPopulation = document.querySelector('#htmForm_searchpageFishPopulation')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageFishPopulation')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageFishPopulation();
          return false;
        });

        var submitForm_deletefilterFishPopulation = document.querySelector('#htmForm_deletefilterFishPopulation')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterFishPopulation')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterFishPopulation(event.target);
          return false;
        });
{%- block htmScriptInitFishPopulationPage %}{%- endblock htmScriptInitFishPopulationPage %}
      });
    </script>
{%- endblock htmScriptFishPopulationPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketFishPopulationPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketFishPopulation(websocketFishPopulationInner);
{% endif %}
{%- endblock websocketFishPopulationPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlFishPopulationPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlFishPopulationPage %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-FishPopulation">retourner à toutes population de poissons</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-FishPopulation" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="fa-duotone fa-regular fa-fish"></i>
                  toutes population de poissons
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  rechercher population de poissons
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartFishPopulationPage %}
{% include fr-fr/rechercher/population-poissons/FishPopulationSidebar.htm %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-FishPopulation">retourner à toutes population de poissons</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-FishPopulation" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-duotone fa-regular fa-fish"></i>
              toutes population de poissons
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              aucune population de poissons trouv&eacute;e
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-duotone fa-regular fa-fish"></i>
            </div>
            <span class="wa-heading-m ">aucune population de poissons trouvée</span>
            <p class="wa-caption-l ">Tracking fish population counts, maturation, and incubation over time. </p>
{% include fr-fr/rechercher/population-poissons/FishPopulationSearchForm.htm %}
          </div>
        </div>
{% else %}
{% include fr-fr/rechercher/population-poissons/FishPopulationSuggestedSearch.htm %}
          <div class="pageContent ">
            <form action="/en-us/api/fish-population" id="FishPopulationForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listFishPopulation" id="listFishPopulation" class="listFishPopulation"  value='{{ toJsonArrayStringInApostrophes(listFishPopulation) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
{% endif %}
{%- endblock htmBodyStartFishPopulationPage %}
{%- endblock htmBodyStartPageLayout %}
{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include fr-fr/rechercher/population-poissons/FishPopulationSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include fr-fr/rechercher/population-poissons/FishPopulationSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}
{% include fr-fr/rechercher/population-poissons/FishPopulationSearchForm.htm %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleFishPopulationPage %}
{% if resultCount > 0 %}
              <div class="wa-stack wa-gap-0 ">
{% include fr-fr/rechercher/population-poissons/FishPopulationPaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
                    <wa-dropdown id="htmDropdown-name">
                      <wa-button variant="brand" slot="trigger" caret>nom</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishPopulation_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishPopulation').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-name-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          trier par nom croissante
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishPopulation_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishPopulation').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-name-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          trier par nom d&eacute;croissante
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                    <wa-dropdown id="htmDropdown-description">
                      <wa-button variant="brand" slot="trigger" caret>description</wa-button>
                      <wa-menu>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishPopulation_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishPopulation').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                          trier par description croissante
                        </wa-menu-item>
                        <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishPopulation_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishPopulation').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                          <i slot="start" class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                          trier par description d&eacute;croissante
                        </wa-menu-item>
                      </wa-menu>
                    </wa-dropdown>
                  </div>
                  {% for item in listFishPopulation%}
                  <div>
                    <a href="{{ item.displayPageFrFR }}">
                      <i class="fa-duotone fa-regular fa-fish"></i>
                      <span>{{ item.name | e }}</span>
                    </a>
                    <a href="{{ item.displayPageFrFR }}">
                      <span>{{ item.description | e }}</span>
                    </a>
                  </div>
                  {% endfor %}
              {% if getColumnName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include fr-fr/rechercher/population-poissons/FishPopulationPaginationButtons.htm %}
              </div>
            </div>
          </div>
{% endif %}
{%- endblock htmBodyMiddleFishPopulationPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndFishPopulationPage %}
{%- include fr-fr/rechercher/population-poissons/FishPopulationLocation.htm %}
{%- endblock htmBodyEndFishPopulationPage %}
  {{ super() }}
{%- endblock htmBodyEndPageLayout %}
