{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}" />
    <meta name="result.name" content="Computate and Smart Aquaculture use case"/>
    <meta name="result.description" content="How the Smart Aquaculture project started, and what the value is of promoting Smart Aquaculture. " />
    <meta name="result.authorName" content="Christopher Tate"/>
    <meta name="result.authorUrl" content="{{ SITE_BASE_URL }}/en-us/learn/about/about-christopher-tate" />
    <meta name="result.created" content="2025-02-14T16:30:01.556[America/Denver]" />
    <meta name="result.pageImageUri" content="/templates/en-us/shop/event/smart-aquaculture-red-hat-summit-2025/jarvis-presenting.jpg" />
    <meta name="result.pageImageAlt" content="Jarvis Green presenting at the Red Hat Summit 2025 in Boston, Massachussetts, USA" />
    <meta name="result.relatedArticleIds" content="deploying-smart-aquaculture-on-openshift-local" />
    <meta name="result.importance" content="1024" />
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmBodyMiddlePageLayout %}

        <div class="{{ WEB_COMPONENTS_PREFIX }}stack purple-blue-background-headers ">

          <div class="main-content {{ WEB_COMPONENTS_PREFIX }}stack ">
            <{{ WEB_COMPONENTS_PREFIX }}card with-header>
              <h1 slot="header" class="{{ WEB_COMPONENTS_PREFIX }}flank ">
                <img src="{{ STATIC_BASE_URL }}/svg/c-key.svg"/>
                <div>{{ result.name }}</div>
              </h1>
              <h2>Author: {{ result.authorName }}</h2>

              <h2>
                Overview
              </h2>

              <p>
                The Smart Aquaculture use case began when Professor B. Dewayne Branch reached out to me to learn the latest developments in open source for IoT and secure data standards. 
                He shared with me some research about Smart Aquaculture solutions for sustainable fisheries and I was intruigued. 
                I did some research as well, and determined that FIWARE has already been working on open source Smart Aquaculture solutions. 
                My Computate platforms integrate perfectly with FIWARE data, so I put together the Smart Aquaculture use case. 
              </p>
            </{{ WEB_COMPONENTS_PREFIX }}card>

            <{{ WEB_COMPONENTS_PREFIX }}card with-header>
              <h2 slot="header" class="{{ WEB_COMPONENTS_PREFIX }}flank ">
                <i class="fa-kit fa-fiware fa-2x "></i>
                <div>About FIWARE</div>
              </h2>

              <p>
                <a href="https://www.fiware.org/about-us/">FIWARE</a> is a non-profit organization, headquartered in Berlin. 
                They have a mission of building an open, sustainable ecosystem around public, royalty-free, and implementation-driven software platform standards for the development of smart solutions in multiple sectors, following a digital twin approach. 
                In 2022, I heard that the <a href="https://www.redhat.com/en/about/social-innovation">Red Hat Social Innovation Program</a> started an <a href="https://www.redhat.com/en/success-stories/fiware">innovative engagement with FIWARE</a> to harness the power of open source technologies to solve global problems. 
                I helped start the conversations with FIWARE and the Red Hat Social Innovation Program as the Social Innovation Architect. 
                I also started a related <a href="https://research.redhat.com/blog/research_project/creating-a-global-open-research-platform-to-better-understand-social-sustainability-using-data-from-a-real-life-smart-village/">research project with Boston University</a>, the <a href="https://www.bu.edu/rhcollab/">Red Hat Collaboratory with Boston University</a>, and <a href="https://veberod.nu/category/smarta-byar/">Smarta Byar</a> in Veberöd, Sweden. 
              </p>
              <p>
                <img src="{{ STATIC_BASE_URL }}/jpg/fiware/2022-summit/chris-presents.jpg" alt="Christopher Tate presents at the FIWARE Global Summit 2022 in Gran Canaria, Spain"/>
                I also attended the 2022 FIWARE Global Summit in Gran Canaria, Spain, and presented about our FIWARE Innovation Hub on the way at Boston University. 
                Because of the open source value for FIWARE provided for building smart solutions, I started a FIWARE iHub between Red Hat and Boston University. 
              </p>
              <p>
                In 2024, the FIWARE community reached out to me and other iHubs, to start some discussions about community building related to standards for IoT smart device computing. 
                The target domains included smart cities, smart ports, and smart agriculture. 
                The focus was on how the FIWARE community, including the FIWARE iHubs, can help. 
              </p>
              <p>
                I was asked to prepare a panel discussion with 4 other FIWARE iHubs at the upcoming FIWARE Global Summit. 
                This would enhance community cooperation, contribution, and participation with FIWARE's approach to "Think global, act local." 
              </p>
              <p>
                In addition to preparing for this upcoming panel discussion, I decided to focus on developing some new tools within my computate platform to support FIWARE use cases of Smart Data Models. 
                I also developed a free course that runs on the Red Hat OpenShift Developer Sandbox. 
                I was also building the Computate Smart Website Builder that allows software developers to build a custom data-driven website powered by FIWARE. 
              </p>
              <p>
                I wanted to put together a complete solution for the FIWARE community to deploy FIWARE microservices to the very best enterprise open source cloud environment, 
                create Smart Data Models, 
                register entities with the FIWARE Context Broker, 
                and visualize their data in a Computate platform. 
              </p>
            </{{ WEB_COMPONENTS_PREFIX }}card>

            <{{ WEB_COMPONENTS_PREFIX }}card with-header>
              <h2 slot="header" class="{{ WEB_COMPONENTS_PREFIX }}flank ">
                <img src="{{ STATIC_BASE_URL }}/svg/logo-{{ SITE_THEME }}.svg"/>
                <div>use case</div>
              </h2>
              <p>
                The Smart Aquaculture use case is about building your own secure IoT smart platform for sustainable fisheries with generative AI, zero-trust access control, and interactive dashboards. 
                It uses modern developer tools to access your VSCode developer workbench in the browser, it doesn't matter your laptop's operating system. 
                Ansible automation automates the tedious tasks of generating all of the boilerplate code for your Smart Aquaculture site, and you can customize it along the way. 
                Developers learn how to build reactive asynchronous Java code, OpenAPIs, database scripts, and Smart Aquaculture data. 
                Users can visualize the Smart Aquaculture data in event-driven, interactive dashboards and maps. 
              </p>
              <p>
                The platform interacts with modern microservices in the cloud like: 
              </p>
              <ul>
                <li>
                  PostgreSQL Database for transactional data storage
                </li>
                <li>
                  Apache Zookeeper Cluster Manager for event bus messaging
                </li>
                <li>
                  Apache Solr Search Engine for autosuggest and searchable APIs
                </li>
                <li>
                  Keycloak Single Sign-On for fine-grain access control to Smart Aquaculture data
                </li>
                <li>
                  FIWARE Context Broker for open source IoT edge device standards
                </li>
              </ul>
            </{{ WEB_COMPONENTS_PREFIX }}card>
          </div>

          <{{ WEB_COMPONENTS_PREFIX }}card with-header>
            <div slot="header" class="main-content {{ WEB_COMPONENTS_PREFIX }}stack ">
              <div>
                <h2 class="brand-font anchor-heading" id="whats-web-awesome">
                  What is the {{ result.name }}?
                </h2>
                <p>
                  Learn how to deploy open source smart device microservices to the cloud and try out your own secure IoT smart platform, including FIWARE Smart Data Models, and Context Broker, with built-in security provided by Keycloak fine-grained resource permissions. 
                </p>
              </div>
            </div>

            <div>
              <div class="{{ WEB_COMPONENTS_PREFIX }}grid orange-blue-background-headers " style="--min-column-size: 20rem; ">

                <{{ WEB_COMPONENTS_PREFIX }}card with-image with-header>
                  <div slot="header" variant="brand" class="{{ WEB_COMPONENTS_PREFIX }}flank {{ WEB_COMPONENTS_PREFIX }}heading-l ">
                    <i class="fa-duotone fa-regular fa-code fa-xl"></i>
                    <div>
                      Modern developer workbenches in the cloud
                    </div>
                  </div>
                  <img slot="image" class="{{ WEB_COMPONENTS_PREFIX }}frame:landscape " src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-vscode-workbench.png"/>
                  <p>
                    Use the latest cloud deployment tools like Jupyter, Ansible, Helm, and OpenShift command line interface from your browser, 
                    and start deploying microservices to the cloud like a modern cloud developer. 
                  </p>
                </{{ WEB_COMPONENTS_PREFIX }}card>

                <{{ WEB_COMPONENTS_PREFIX }}card with-image with-header>
                  <div slot="header" class="{{ WEB_COMPONENTS_PREFIX }}flank {{ WEB_COMPONENTS_PREFIX }}heading-l ">
                    <i class="fa-duotone fa-regular fa-clouds fa-xl"></i>
                    <div>
                      Cloud-native microservices that cluster and scale
                    </div>
                  </div>
                  <img slot="image" class="{{ WEB_COMPONENTS_PREFIX }}frame:landscape " src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-openshift-topology.png"/>
                  <p>
                    Deploy modern open source microservices including 
                    Apache Zookeeper cluster manager, Apache Solr search engine, PostgreSQL relational database, MongoDB No-SQL database, RabbitMQ message broker, Keycloak single sign-on authentication and authorization, and reactive—event bus driven applications. 
                  </p>
                </{{ WEB_COMPONENTS_PREFIX }}card>

                <{{ WEB_COMPONENTS_PREFIX }}card with-header with-image>
                  <div slot="header" class="{{ WEB_COMPONENTS_PREFIX }}flank {{ WEB_COMPONENTS_PREFIX }}heading-l ">
                    <i class="fa-duotone fa-regular fa-database fa-xl"></i>
                    <div>
                      High performance relational databases
                    </div>
                  </div>
                  <img slot="image" class="{{ WEB_COMPONENTS_PREFIX }}frame:landscape " src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-database-tables.png"/>
                  <p>
                    Set up access to a new database for your applications. 
                  </p>
                </{{ WEB_COMPONENTS_PREFIX }}card>

                <{{ WEB_COMPONENTS_PREFIX }}card with-image with-header>
                  <div slot="header" class="{{ WEB_COMPONENTS_PREFIX }}flank {{ WEB_COMPONENTS_PREFIX }}heading-l ">
                    <i class="fa-duotone fa-regular fa-user fa-xl"></i>
                    <div>
                      Fine-grain zero-trust authorization to data
                    </div>
                  </div>
                  <img slot="image" class="{{ WEB_COMPONENTS_PREFIX }}frame:landscape " src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-auth-permissions.png"/>
                  <p>
                    Create authentication realms, clients, OAuth identity providers, and fine-grain resources, scopes, policies, and permissions to data and dashboards. 
                  </p>
                </{{ WEB_COMPONENTS_PREFIX }}card>

                <{{ WEB_COMPONENTS_PREFIX }}card with-image with-header>
                  <div slot="header" class="{{ WEB_COMPONENTS_PREFIX }}flank {{ WEB_COMPONENTS_PREFIX }}heading-l ">
                    <i class="fa-kit fa-fiware fa-xl"></i>
                    <div>
                      FIWARE IoT services and Smart Data Models
                    </div>
                  </div>
                  <img slot="image" class="{{ WEB_COMPONENTS_PREFIX }}frame:landscape " src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-ngsild-context.png"/>
                  <p>
                    Connect your databases and message broker to a FIWARE Context Broker 
                    — utilize NGSI-LD standards and Smart Data Models to manage your own smart device data. 
                  </p>
                </{{ WEB_COMPONENTS_PREFIX }}card>

                <{{ WEB_COMPONENTS_PREFIX }}card with-image with-header>
                  <div slot="header" class="{{ WEB_COMPONENTS_PREFIX }}flank {{ WEB_COMPONENTS_PREFIX }}heading-l ">
                    <i class="fa-duotone fa-regular fa-cloud-check fa-xl"></i>
                    <div>
                      Manage cloud secrets securely
                    </div>
                  </div>
                  <img slot="image" class="{{ WEB_COMPONENTS_PREFIX }}frame:landscape " src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-secrets.png"/>
                  <p>
                    Learn how to configure secrets in the cloud that allow applications to connect to each other securely. 
                  </p>
                </{{ WEB_COMPONENTS_PREFIX }}card>

                <{{ WEB_COMPONENTS_PREFIX }}card with-image with-header>
                  <div slot="header" class="{{ WEB_COMPONENTS_PREFIX }}flank {{ WEB_COMPONENTS_PREFIX }}heading-l ">
                    <i class="fa-duotone fa-regular fa-browser fa-xl"></i>
                    <div>
                      Deploy a complete data-driven website
                    </div>
                  </div>
                  <img slot="image" class="{{ WEB_COMPONENTS_PREFIX }}frame:landscape " src="{{ STATIC_BASE_URL }}/png/smart-aquaculture-layout.png"/>
                  <p>
                    Learn how to configure and deploy a custom data-driven website for Smart Aquaculture with smart data models so that you can do it yourself. 
                  </p>
                </{{ WEB_COMPONENTS_PREFIX }}card>

              </div>
            </div>
          </{{ WEB_COMPONENTS_PREFIX }}card>

          <div class="main-content {{ WEB_COMPONENTS_PREFIX }}stack ">
            <{{ WEB_COMPONENTS_PREFIX }}card with-header>
              <h2 slot="header">Getting started building a Smart Aquaculture platform</h2>

              <p>
                To begin working on a use case like Smart Aquaculture, you need to be working in a supported environment. 
                The Computate platform is public and open source, so it runs on Linux. 
                Linux is different than proprietary computer operating systems like Microsoft and Apple. 
                It's best suited to run on a computer with the x86_64 architecture, in place of Microsoft. 
                I wouldn't recommend installing Linux on an Apple computer because it is a different ARM64 based architecture and incompatible with some cloud container images that are required. 
                The Linux operating systems best suited for developing a Smart Aquaculture platform are Red Hat Enterprise Linux 9, CentOS Stream 9, and Fedora 34+. 
              </p>
            </{{ WEB_COMPONENTS_PREFIX }}card>

            <{{ WEB_COMPONENTS_PREFIX }}card with-header>
              <h2 slot="header">Building a Smart Aquaculture platform in the cloud</h2>
              <p>
                Thanks to the powerful cloud developer tools built into Red Hat OpenShift Container Platform, 
                Developers can log into a VSCode workbench directly in the browser and start developing a Smart Aquaculture platform. 
                The OpenShift AI workbenches provided by Red Hat allow developers to write code in the browser, 
                it doesn't matter what your computer's architecture or operating system is. 
              </p>
            </{{ WEB_COMPONENTS_PREFIX }}card>

            <{{ WEB_COMPONENTS_PREFIX }}card with-header>
              <h2 slot="header">Sovereign generative AI behind the Smart Aquaculture platform</h2>
              <p>
                Because developing microservices is hard, and requires a lot of tedious configuration of databases, OpenAPI specs, and code, 
                it really helps to write down your ideas in a logical way and have the code generated for you. 
                This is how Computate software powering the Smart Aquaculture platform works. 
                You define a logical list of variables to decide how your platform will be customized for your organization and your use case. 
                Then the boilerplate code that you need is automatically generated for you to jumpstart your project. 
                Then you work on building specific models for your specific use case. 
                Then you can create articles that explain your project. 
              </p>
            </{{ WEB_COMPONENTS_PREFIX }}card>

            <{{ WEB_COMPONENTS_PREFIX }}card with-header>
              <h2 slot="header">Developing smart data models in your platform</h2>
              <p>
                A model in a platform powered by Computate is generally composed of Java code comments describing the whole model. 
                You create a Java Class in a unique Java Package, 
                then write a description for your model, 
                write some language context for your model because it's meant to be internationalized, 
                add a Font Awesome icon for your model, 
                add an API URI where your JSON REST API for your model will be, 
                add a search page URI where you can search for the model, 
                add an edit page URI where you can edit the model, 
                add API methods you wish to provide in your API (like GET, POST, PATCH, DELETE, PUTImport)
                then create any number of authorization groups who can access the various API methods for your model. 
              </p>
            </{{ WEB_COMPONENTS_PREFIX }}card>

            <{{ WEB_COMPONENTS_PREFIX }}card with-header>
              <h2 slot="header">Developing model persistent fields</h2>
              <p>
                The next step to develop your model is to create fields that are either persisted in the database, 
                or calculated and returned by the search engine in the API for your model. 
                To develop this kind of special field into the model with the Computate platform, 
                you create a new protected void method in your class that starts with an _ (underscore) character, followed by the field name. 
                Next, if the field can be null, you will want to create one parameter in the method with the Wrap class that comes from the computate-search project. 
                The Wrap class is a Generic class where you can specify the actual Java Class of the field as a Generic type of the Wrap class. 
                If you wish to leave the field null when you initialize the class, you can leave the method empty. 
                If you wish to populate the field with a default value, then construct the value and wrap it in the Wrap by typing w.o("field value goes here");
              </p>
            </{{ WEB_COMPONENTS_PREFIX }}card>
          </div>

          <{{ WEB_COMPONENTS_PREFIX }}card class="purple-blue-background ">
            <div class="main-content ">
              <div class="{{ WEB_COMPONENTS_PREFIX }}flank">
                <i class="fa-duotone fa-regular fa-video fa-2x "></i>
                <h2>
                  Watch the free Computate AI Developer Webinar on Zoom or live streaming to Youtube. 
                </h2>
              </div>
              <div class="{{ WEB_COMPONENTS_PREFIX }}stack ">
                <div class="{{ WEB_COMPONENTS_PREFIX }}flank">
                  <p>
                    Watch the smart-aquaculture project use the Computate Smart Cloud Deployer to deploy all the required microservices to the cloud, 
                    then do live development adding new features to the smart-aquaculture project in OpenShift AI VSCode Java Workbench. 
                  </p>
                </div>
                <{{ WEB_COMPONENTS_PREFIX }}card>
                  <div class="{{ WEB_COMPONENTS_PREFIX }}flank ">
                    <{{ WEB_COMPONENTS_PREFIX }}button id="webinar-button" variant="brand" label="Join the webinar" href="{{ result.webinarUrlAmericas }}">
                      <i class="fa-duotone fa-regular fa-video" aria-hidden="true"></i>
                      Join the next webinar
                    </{{ WEB_COMPONENTS_PREFIX }}button>
                    <div class="{{ WEB_COMPONENTS_PREFIX }}flank ">
                      <{{ WEB_COMPONENTS_PREFIX }}relative-time id="webinar-relative-time" format="long" sync="true" date=""></{{ WEB_COMPONENTS_PREFIX }}relative-time>
                      <{{ WEB_COMPONENTS_PREFIX }}format-date id="webinar-format-time" weekday="short" month="short" day="numeric" year="numeric" hour="numeric" minute="numeric" time-zone-name="short" date=""></{{ WEB_COMPONENTS_PREFIX }}format-date>
                    </div>
                  </div>
                </{{ WEB_COMPONENTS_PREFIX }}card>
                <h3 class="brand-font">
                  The Computate AI Developer Webinar will occur live each weekday. 
                </h3>
                <{{ WEB_COMPONENTS_PREFIX }}card id="webinar-calendar" class="{{ WEB_COMPONENTS_PREFIX }}stack ">

                  <div class="{{ WEB_COMPONENTS_PREFIX }}flank zoom-link font-size-large">
                    <i class="fa-duotone fa-regular fa-earth-americas fa-xl"></i>
                    <div class="{{ WEB_COMPONENTS_PREFIX }}flank ">
                      <{{ WEB_COMPONENTS_PREFIX }}button id="webinar-button" variant="brand" href="{{ SITE_BASE_URL }}/en-us/view/webinar/computate-ai-developer-webinar">
                        <i class="fa-duotone fa-regular fa-video"></i>
                        Learn more
                      </{{ WEB_COMPONENTS_PREFIX }}button>
                      <div>
                        <div class="font-size-x-small">
                          Monday 1:30 PM Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Tuesday 1:30 PM Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Wednesday 12:00 PM noon Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Thursday 10:30 AM Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Thursday 1:30 PM Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Friday 10:30 AM Eastern US time
                        </div>
                        <div class="font-size-x-small">
                          Friday 1:30 PM Eastern US time
                        </div>
                      </div>
                    </div>
                  </div>

                </{{ WEB_COMPONENTS_PREFIX }}card>
              </div>
            </div>
          </{{ WEB_COMPONENTS_PREFIX }}card>

          <{{ WEB_COMPONENTS_PREFIX }}card class="purple-blue-background {{ WEB_COMPONENTS_PREFIX }}stack ">
            <div class="{{ WEB_COMPONENTS_PREFIX }}grid ">
              <div class="flex-item-left ">
                <div class="{{ WEB_COMPONENTS_PREFIX }}stack ">
                  <div class="{{ WEB_COMPONENTS_PREFIX }}flank ">
                    <i class="fa-kit fa-fiware fa-5x "></i>
                    <h1>
                      Latest available course: 
                    </h1>
                  </div>
                  <h2>
                    Free course for configuring IoT services and Smart Data Models with a FIWARE IoT Agent, Context Broker, and other event-driven microservices in a free Red Hat OpenShift Developer Sandbox
                    with the Smart Aquaculture Cloud Sandbox
                  </h1>
                </div>
              </div>
              <div class="flex-item-right ">
                <img src="{{ STATIC_BASE_URL }}/jpg/fiware/2024-summit/technical-training.jpg"/>
              </div>
            </div>
            <{{ WEB_COMPONENTS_PREFIX }}card class="main-content ">
              <div class="{{ WEB_COMPONENTS_PREFIX }}stack ">
                <div>
                  This course was presented at the 
                  <a href="https://www.eventbrite.de/e/fiware-tech-training-naples-tickets-920143322447">FIWARE Summit Technical Training</a>
                  in Naples, Italy September 18 2024
                </div>
                <div>
                  <{{ WEB_COMPONENTS_PREFIX }}button id="order-button" class="gradient-button orange-blue-background" variant="neutral" href="{{ SITE_BASE_URL }}/en-us/shop/course/smart-aquaculture-cloud-sandbox">
                    <i class="fa-duotone fa-regular fa-person-running-fast"></i>
                    Get started
                  </{{ WEB_COMPONENTS_PREFIX }}button>
                </div>
              </div>
            </{{ WEB_COMPONENTS_PREFIX }}card>
          </{{ WEB_COMPONENTS_PREFIX }}card>
        </div>
{% endblock %}
