{% include en-us/search/fishing-boat/FishingBoatSearchFormMacros.htm %}
{% include en-us/search/time-zone/TimeZoneSearchFormMacros.htm %}
{% include en-us/search/fishing-dock/FishingDockSearchFormMacros.htm %}
{%- if 'DELETE' in scopes %}
    {{ htmForm_patchFishingBoat() }}
  {%- endif %}
{%- endif %}
{%- if 'POST' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_postFishingBoat() }}
  {%- else %}
    {{ htmForm_postFishingBoat() }}
  {%- endif %}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deleteFishingBoat() }}
  {%- else %}
  {%- endif %}
{%- endif %}
{%- if AUTH_SCOPE_SUPER_ADMIN in scopes %}
  {{ htmForm_putimportFishingBoat() }}
{%- endif %}
{%- if 'DELETE' in scopes %}
  {%- if resultCount >= 1 %}
    {{ htmForm_deletefilterFishingBoat() }}
  {%- else %}
  {%- endif %}
{%- endif %}
