{% extends "en-us/PageLayout.htm" %}
{%- block htmTitlePageLayout %}
{%- block htmTitleCompanyEventPage %}
    <title>{{ result.objectTitle }}</title>
{%- endblock htmTitleCompanyEventPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/event/CompanyEvent.css"/>
{%- block htmStylesCompanyEventPage %}
{%- endblock htmStylesCompanyEventPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
      :root {
        --site-results-number-of-columns: 3;
      }
{{ super() }}
{%- block htmStyleCompanyEventPage %}
{%- endblock htmStyleCompanyEventPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsCompanyEventPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/event/CompanyEvent.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/event/CompanyEventSearchPage.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/event/CompanyEventEditPage.js"></script>
{%- endblock htmScriptsCompanyEventPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptCompanyEventPage %}
    <script>

      function jsWebsocketCompanyEvent(pageId, vars, $response) {
{%- block jsWebsocketCompanyEventPage %}{%- endblock %}
      }

      function jsTooltipCompanyEvent(e, feature) {
{%- block jsTooltipCompanyEventPage %}{%- endblock %}
      }

      function htmTooltipCompanyEvent(feature, layer) {
        return `{%- block htmTooltipCompanyEventPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipCompanyEventPage %}`;
      }

      function jsLegendCompanyEvent(map) {
{%- block jsLegendCompanyEventPage %}
        var div = L.DomUtil.create('div', 'info legend');
        var htm = '';
        window.listCompanyEvent.forEach((result, index) => {
          if(result.location) {
            var shapes = [];
            if(Array.isArray(result.location))
              shapes = shapes.concat(result.location);
            else
              shapes.push(result.location);
            shapes.forEach(function(shape, index) {
              htm += htmLegendCompanyEvent(map, shape, result, index, shapes.length);
            });
          }
        });
        div.innerHTML = htm;
        return div;
{%- endblock jsLegendCompanyEventPage %}
      }

      function htmLegendCompanyEvent(map, shape, result, index, count) {
        var color = result.locationColors[index];
        var title = result.locationTitles[index];
        var url = null;
        var htm = '';
        htm += `<div class="cursor-pointer " style="max-width: 400px; ">
`;
        htm += `{%- block htmLegendCompanyEventPage %}
    <div title="${quoteattr(title)}">
    <div style="width: 20px; ">
      <i class="{{ FONTAWESOME_STYLE }} fa-circle" style="color: ${color}; "></i>
    </div>
    <div class="text-overflow-ellipsis ">
      <span class="" data-solrId="${result.solrId}" onclick="window.mapLayers[this.getAttribute('data-solrId')].openPopup(); return false;" href="">${title}</span>
    </div>
    </div>
{%- endblock htmLegendCompanyEventPage %}`;
        htm += `
</div>
`;
        return htm;
      }

      function jsStyleCompanyEvent(feature) {
{%- block jsStyleCompanyEventPage %}
        if(feature.geometry.type == 'Point') {
          return {
            radius: 8
            , fillColor: (feature.properties.locationColors && feature.properties.locationColors[feature.index] ? feature.properties.locationColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.locationColors && feature.properties.locationColors[feature.index] ? feature.properties.locationColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 1
            , opacity: 0.7
            , fillOpacity: 0.7
            , contextmenu: true
            , contextmenuItems: [
              {
                text: 'Show coordinates'
                , callback: function(event) {
                  alert(event2.target.getLatLngs());
                }
              }
            ]
          };
        } else if(feature.geometry.type == 'LineString') {
          return {
            color: (feature.properties.locationColors && feature.properties.locationColors[feature.index] ? feature.properties.locationColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 5
            , opacity: 0.7
          };
        } else {
          return {
             fillColor: (feature.properties.locationColors && feature.properties.locationColors[feature.index] ? feature.properties.locationColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , color: (feature.properties.locationColors && feature.properties.locationColors[feature.index] ? feature.properties.locationColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
            , weight: 3
            , opacity: 0.7
            , fillOpacity: 0.7
          };
        }
{%- endblock jsStyleCompanyEventPage %}
      }

      function facetChangeCompanyEventSuccess(e) {
        var l = e.querySelector('.pageForm .listCompanyEvent')?.value;
        if(l)
          window.listCompanyEvent = JSON.parse(l);
{% block facetChangeCompanyEventSuccess %}{%- endblock facetCompanyEventSuccess %}
      }
      function facetChangeCompanyEventError(e) {
{% block facetChangeCompanyEventError %}{%- endblock facetCompanyEventError %}
      }

      function facetSimpleRangeCompanyEventSuccess(e) {
{% block facetSimpleRangeCompanyEventSuccess %}      facetChangeCompanyEventSuccess(e);{% endblock facetSimpleRangeCompanyEventSuccess %}
      }
      function facetSimpleRangeCompanyEventError(e) {
{% block facetSimpleRangeCompanyEventError %}      facetChangeCompanyEventError(e);{% endblock facetSimpleRangeCompanyEventError %}
      }
      function facetSimpleRangeCompanyEvent(e) {
        facetSimpleRange(e, facetSimpleRangeCompanyEventSuccess, facetSimpleRangeCompanyEventError);
      }

      function facetRangeTimeZoneCompanyEventSuccess(e) {
{% block facetRangeTimeZoneCompanyEventSuccess %}      facetChangeCompanyEventSuccess(e);{% endblock facetRangeTimeZoneCompanyEventSuccess %}
      }
      function facetRangeTimeZoneCompanyEventError(e) {
{% block facetRangeTimeZoneCompanyEventError %}      facetChangeCompanyEventError(e);{%- endblock facetRangeTimeZoneCompanyEventError %}
      }
      function facetRangeTimeZoneCompanyEvent(e) {
        facetRangeTimeZone(e, facetRangeTimeZoneCompanyEventSuccess, facetRangeTimeZoneCompanyEventError);
      }

      function facetRangeGapChangeCompanyEventSuccess(e) {
{% block facetRangeGapChangeCompanyEventSuccess %}      facetChangeCompanyEventSuccess(e);{% endblock facetRangeGapChangeCompanyEventSuccess %}
      }
      function facetRangeGapChangeCompanyEventError(e) {
{% block facetRangeGapChangeCompanyEventError %}      facetChangeCompanyEventError(e);{%- endblock facetRangeGapChangeCompanyEventError %}
      }
      function facetRangeGapChangeCompanyEvent(classSimpleName, event) {
        facetRangeGapChange(classSimpleName, event, facetRangeGapChangeCompanyEventSuccess, facetRangeGapChangeCompanyEventError);
      }

      function facetRangeStartChangeCompanyEventSuccess(e) {
{% block facetRangeStartChangeCompanyEventSuccess %}      facetChangeCompanyEventSuccess(e);{% endblock facetRangeStartChangeCompanyEventSuccess %}
      }
      function facetRangeStartChangeCompanyEventError(e) {
{% block facetRangeStartChangeCompanyEventError %}      facetChangeCompanyEventError(e);{%- endblock facetRangeStartChangeCompanyEventError %}
      }
      function facetRangeStartChangeCompanyEvent(classSimpleName, event) {
        facetRangeStartChange(classSimpleName, event, facetRangeStartChangeCompanyEventSuccess, facetRangeStartChangeCompanyEventError);
      }

      function facetRangeEndChangeCompanyEventSuccess(e) {
{% block facetRangeEndChangeCompanyEventSuccess %}      facetChangeCompanyEventSuccess(e);{% endblock facetRangeEndChangeCompanyEventSuccess %}
      }
      function facetRangeEndChangeCompanyEventError(e) {
{% block facetRangeEndChangeCompanyEventError %}      facetChangeCompanyEventError(e);{%- endblock facetRangeEndChangeCompanyEventError %}
      }
      function facetRangeEndChangeCompanyEvent(classSimpleName, event) {
        facetRangeEndChange(classSimpleName, event, facetRangeEndChangeCompanyEventSuccess, facetRangeEndChangeCompanyEventError);
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
        , customElements.whenDefined('wa-select')
        , customElements.whenDefined('wa-radio')
        , customElements.whenDefined('wa-checkbox')
        , customElements.whenDefined('wa-dropdown')
      ]).then(() => {

        var pageId = {% if result.pageId is defined %}{{ result.pageId | tojson }}{% else %}null{% endif %};

        if(pageId == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.pageId is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listCompanyEvent')?.value;
        if(l)
          window.listCompanyEvent = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        document.querySelector('#siteSidebarToggleRange')?.addEventListener('wa-after-hide', function(e) { document.querySelector('#pageFacetRangeTimeZonePopup').active = false; });
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneCompanyEvent);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('input', facetRangeTimeZoneCompanyEvent);
        document.querySelector('#pageFacetRangeTimeZoneInput')?.addEventListener('focus', facetRangeTimeZoneCompanyEvent);
        document.querySelector('#pageFacetSimpleRangeDropdown')?.addEventListener('wa-select', facetSimpleRangeCompanyEvent);
        pageGraphCompanyEvent();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qCompanyEvent_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('CompanyEvent', event.target, document.querySelector('#qCompanyEventDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qCompanyEvent_rows')?.addEventListener('change', event => {
          paramChange('CompanyEvent', event.target, document.querySelector('#qCompanyEventDiv_rows'));
        });

        document.querySelector('#qCompanyEvent_start')?.addEventListener('change', event => {
          paramChange('CompanyEvent', event.target, document.querySelector('#qCompanyEventDiv_start'));
        });


        var submitForm_patchCompanyEvent = document.querySelector('#htmForm_patchCompanyEvent')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchCompanyEvent')?.addEventListener('click', event => {
          event.preventDefault();
          patchCompanyEvent(null, document.querySelector('#htmForm_patchCompanyEvent'), document.querySelector('#htmFormButton_patchCompanyEvent'), event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_postCompanyEvent = document.querySelector('#htmForm_postCompanyEvent')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postCompanyEvent')?.addEventListener('click', event => {
          event.preventDefault();
          postCompanyEvent(document.querySelector('#htmForm_postCompanyEvent')
          , document.querySelector('#htmFormButton_postCompanyEvent')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteCompanyEvent = document.querySelector('#htmForm_deleteCompanyEvent')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteCompanyEvent')?.addEventListener('click', event => {
          event.preventDefault();
          deleteCompanyEvent(event.target, event.target.getAttribute('data-pageId'));
          return false;
        });

        var submitForm_putimportCompanyEvent = document.querySelector('#htmForm_putimportCompanyEvent')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportCompanyEvent')?.addEventListener('click', event => {
          event.preventDefault();
          putimportCompanyEvent(document.querySelector('#htmForm_putimportCompanyEvent'), document.querySelector('#htmFormButton_putimportCompanyEvent'));
          return false;
        });

        var submitForm_searchpageCompanyEvent = document.querySelector('#htmForm_searchpageCompanyEvent')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageCompanyEvent')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageCompanyEvent();
          return false;
        });

        var submitForm_deletefilterCompanyEvent = document.querySelector('#htmForm_deletefilterCompanyEvent')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterCompanyEvent')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterCompanyEvent(event.target);
          return false;
        });
{%- block htmScriptInitCompanyEventPage %}{%- endblock htmScriptInitCompanyEventPage %}
      });
    </script>
{%- endblock htmScriptCompanyEventPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketCompanyEventPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketCompanyEvent(websocketCompanyEventInner);
{% endif %}
{%- endblock websocketCompanyEventPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlCompanyEventPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlCompanyEventPage %}

{%- if pageSearchButtons is not defined %}
{%- set pageSearchButtons %}
{% include en-us/search/event/CompanyEventSearchButtons.htm %}
{%- endset pageSearchButtons %}
{%- endif %}
{%- if pageSearchFormButtons is not defined %}
{%- set pageSearchFormButtons %}
{% include en-us/search/event/CompanyEventSearchFormButtons.htm %}
{%- endset pageSearchFormButtons %}
{%- endif %}
{%- if pageBreadcrumb is not defined %}
{%- set pageBreadcrumb %}
              <wa-tooltip for="return-to-CompanyEvent">back to all events</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-CompanyEvent" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="fa-duotone fa-regular fa-map-location-dot"></i>
                  all events
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  an event
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{%- endset pageBreadcrumb %}
{%- endif  %}

{%- block htmBodyStartPageLayout %}
    {{ super() }}
{%- block htmBodyStartCompanyEventPage %}
{% if resultCount > 0 %}
          <div class="wa-flank ">
            <h1 class="Page_objectTitle"><i class="fa-duotone fa-regular fa-map-location-dot"></i> {{ result.objectTitle | e }}</h1>
          </div>
{% endif %}
{% include en-us/search/event/CompanyEventSearchForm.htm %}
{%- endblock htmBodyStartCompanyEventPage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleCompanyEventPage %}
{%- include en-us/search/event/CompanyEventSidebar.htm %}
        <div class="pageContent ">
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-CompanyEvent">back to all events</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-CompanyEvent" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-duotone fa-regular fa-map-location-dot"></i>
              all events
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no event found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-duotone fa-regular fa-map-location-dot"></i>
            </div>
            <span class="wa-heading-m ">no event found</span>
            <p class="wa-caption-l ">See the upcoming computate in-person and online events</p>
          </div>
        </div>
{% else %}
{%- include en-us/search/event/CompanyEventSuggestedSearch.htm %}
{% endif %}
{%- block htmFormCompanyEventPage %}
          <form action="/en-us/api/event" id="CompanyEventForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
{% if result.pageId is defined %}
            <input name="pageId" class="valuePageId" type="hidden" value="{{ result.pageId }}"/>
            {% endif %}
            <input name="focusId" type="hidden"/>
            <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
            <input name="result" id="result" class="result"  value='{{ toJsonObjectStringInApostrophes(result) }}' type="hidden"/>
            <input name="listCompanyEvent" id="listCompanyEvent" class="listCompanyEvent"  value='{{ toJsonArrayStringInApostrophes(listCompanyEvent) }}' type="hidden"/>
          </form>
{%- if resultCount >= 1 %}
          {{ htmForm_searchpageCompanyEvent() }}
{% endif -%}
{%- endblock htmFormCompanyEventPage %}
        </div>
{%- endblock htmBodyMiddleCompanyEventPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
{%- block htmBodyEndCompanyEventPage %}
{%- include en-us/search/event/CompanyEventLocation.htm %}
{%- endblock htmBodyEndCompanyEventPage %}
      {{ super() }}
{%- endblock htmBodyEndPageLayout %}
