{% extends "en-us/PageLayout.htm" %}

{%- block htmTitlePageLayout %}
{%- block htmTitleFishFarmPage %}
    <title>{% if resultCount == 0 %}no fish farm found{% else %}fish farms{% endif %}</title>
{%- endblock htmTitleFishFarmPage %}
{%- endblock htmTitlePageLayout %}

{%- block htmStylesPageLayout %}
{{ super() }}
    <link rel="stylesheet" href="{{ staticBaseUrl }}/css/en-us/search/fish-farm/FishFarm.css"/>
{%- block htmStylesFishFarmPage %}
{%- endblock htmStylesFishFarmPage %}
{%- endblock htmStylesPageLayout %}

{%- block htmStylePageLayout %}
{{ super() }}
{%- block htmStyleFishFarmPage %}
{%- endblock htmStyleFishFarmPage %}
{%- endblock htmStylePageLayout %}

{%- block htmScriptsPageLayout %}
{{ super() }}
{%- block htmScriptsFishFarmPage %}
    <script src="{{staticBaseUrl}}/js/en-us/search/fish-farm/FishFarm.js"></script>
    <script type="module" src="{{staticBaseUrl}}/js/en-us/search/fish-farm/FishFarmSearchPage.js"></script>
{%- endblock htmScriptsFishFarmPage %}
{%- endblock htmScriptsPageLayout %}

{%- block htmScriptPageLayout %}
{%- block htmScriptFishFarmPage %}
    <script>

      function jsWebsocketFishFarm(id, vars, $response) {
{%- block jsWebsocketFishFarmPage %}{%- endblock %}
      }

      function jsTooltipFishFarm(e, feature) {
{%- block jsTooltipFishFarmPage %}{%- endblock %}
      }

      function htmTooltipFishFarm(feature, layer) {
        return `{%- block htmTooltipFishFarmPage %}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.editPage)}">${feature.properties.objectTitle}</a></h3>
{%- endblock htmTooltipFishFarmPage %}`;
      }
    </script>
    <script type="module">
{% if DEFAULT_MAP_LOCATION is defined %}
      window.DEFAULT_MAP_LOCATION = { type: 'Point', coordinates: [ {{ DEFAULT_MAP_LOCATION.coordinates[0] }}, {{ DEFAULT_MAP_LOCATION.coordinates[1] }} ]};
{% endif %}
{% if DEFAULT_MAP_ZOOM is defined %}
      window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{% endif %}
      window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
      Promise.all([
        customElements.whenDefined('wa-button')
        , customElements.whenDefined('wa-input')
      ]).then(() => {

        var id = {% if result.id is defined %}{{ result.id | tojson }}{% else %}null{% endif %};

        if(id == null) {
          document.querySelector('#grid-toggle-details')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-list', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-details');
          });
          document.querySelector('#grid-toggle-list')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-card');
            document.querySelector('#site-results-grid').classList.add('grid-mode-list');
          });
          document.querySelector('#grid-toggle-card')?.addEventListener('click', () => {
            document.querySelector('#site-results-grid').classList.remove('grid-mode-details', 'grid-mode-list');
            document.querySelector('#site-results-grid').classList.add('grid-mode-card');
          });
        } else {
          var o = document.querySelector('.pageForm .result')?.value;
          if(o)
            window.result = JSON.parse(o);
        {% if result.id is defined %}
        {% endif %}
        }
        var l = document.querySelector('.pageForm .listFishFarm')?.value;
        if(l)
          window.listFishFarm = JSON.parse(l);
        window.varsFq = JSON.parse('{{ toJsonObjectStringInApostrophes(varsFq) }}');
        window.varsRange = JSON.parse('{{ toJsonObjectStringInApostrophes(varsRange) }}');
        window.defaultRangeVar = '{{ defaultRangeVar }}';
        pageGraphFishFarm();
        {% for key, value in varsQ.items() %}

        document.querySelector('#qFishFarm_{{ key }}')?.addEventListener('wa-{% if var == 'objectSuggest' %}keyup{% else %}change{% endif %}', event => {
          qChange('FishFarm', event.target, document.querySelector('#qFishFarmDiv_{{ key }}'));
        });
        {% endfor %}

        document.querySelector('#qFishFarm_rows')?.addEventListener('change', event => {
          paramChange('FishFarm', event.target, document.querySelector('#qFishFarmDiv_rows'));
        });

        document.querySelector('#qFishFarm_start')?.addEventListener('change', event => {
          paramChange('FishFarm', event.target, document.querySelector('#qFishFarmDiv_start'));
        });


        var submitForm_patchFishFarm = document.querySelector('#htmForm_patchFishFarm')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_patchFishFarm')?.addEventListener('click', event => {
          event.preventDefault();
          patchFishFarm(null, document.querySelector('#htmForm_patchFishFarm'), document.querySelector('#htmFormButton_patchFishFarm'), event.target.getAttribute('data-id'));
          return false;
        });

        var submitForm_postFishFarm = document.querySelector('#htmForm_postFishFarm')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_postFishFarm')?.addEventListener('click', event => {
          event.preventDefault();
          postFishFarm(document.querySelector('#htmForm_postFishFarm')
          , document.querySelector('#htmFormButton_postFishFarm')
          , (json, target) => {
            window.location.href = json.editPage;
          });
          return false;
        });

        var submitForm_deleteFishFarm = document.querySelector('#htmForm_deleteFishFarm')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deleteFishFarm')?.addEventListener('click', event => {
          event.preventDefault();
          deleteFishFarm(event.target, event.target.getAttribute('data-id'));
          return false;
        });

        var submitForm_putimportFishFarm = document.querySelector('#htmForm_putimportFishFarm')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_putimportFishFarm')?.addEventListener('click', event => {
          event.preventDefault();
          putimportFishFarm(document.querySelector('#htmForm_putimportFishFarm'), document.querySelector('#htmFormButton_putimportFishFarm'));
          return false;
        });

        var submitForm_searchpageFishFarm = document.querySelector('#htmForm_searchpageFishFarm')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_searchpageFishFarm')?.addEventListener('click', event => {
          event.preventDefault();
          searchpageFishFarm();
          return false;
        });

        var submitForm_deletefilterFishFarm = document.querySelector('#htmForm_deletefilterFishFarm')?.addEventListener('submit', event => {
          event.preventDefault();
          return false;
        });
        document.querySelector('#htmFormButton_deletefilterFishFarm')?.addEventListener('click', event => {
          event.preventDefault();
          deletefilterFishFarm(event.target);
          return false;
        });
      });
    </script>
{%- endblock htmScriptFishFarmPage %}
{%- endblock htmScriptPageLayout %}

{%- block websocketPageLayout %}
{%- block websocketFishFarmPage %}
{% if resultCount > 0 %}
        window.eventBus = new EventBus('/eventbus');
        window.eventBus.enableReconnect(true);
        websocketFishFarm(websocketFishFarmInner);
{% endif %}
{%- endblock websocketFishFarmPage %}
{%- endblock websocketPageLayout %}

{%- block htmUrlFishFarmPage %}{{pageUri}}?q={{query.q}}&amp;rows={% if rows is defined %}{{rows}}{% else %}{{pagination.rows}}{% endif %}&amp;rows={% if start is defined %}{{start}}{% else %}{{pagination.start}}{% endif %}{% for item query.fq %}{% if fq == item %}{% else %}&fq={{fq}}:{{val}}{% endif %}{% endfor %}{% for item in query.sort %}{% if sort == item %}{% else %}&sort={{var}} {{order}}{% endif %}{% endfor %}{%- endblock htmUrlFishFarmPage %}

{%- block htmBodyStartPageLayout %}
{{ super() }}
{%- block htmBodyStartFishFarmPage %}
{%- endblock htmBodyStartFishFarmPage %}
{%- endblock htmBodyStartPageLayout %}

{%- block htmBodyMiddlePageLayout %}
{%- block htmBodyMiddleFishFarmPage %}
{% if resultCount == 0 %}
        <div class="wa-stack ">
          <wa-tooltip for="return-to-FishFarm">back to all fish farms</wa-tooltip></wa-tooltip>
          <wa-breadcrumb>
            <wa-breadcrumb-item id="return-to-FishFarm" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
              <i class="fa-duotone fa-regular fa-fish-fins"></i>
              all fish farms
            </wa-breadcrumb-item>
            <wa-breadcrumb-item>
              no fish farm found
            </wa-breadcrumb-item>
          </wa-breadcrumb>
          <div class="wa-stack wa-align-items-center ">
            <div class="wa-heading-3xl ">
              <i class="fa-duotone fa-regular fa-fish-fins"></i>
            </div>
            <span class="wa-heading-m ">no fish farm found</span>
            <p class="wa-caption-l ">A fish farm</p>
{% include en-us/search/fish-farm/FishFarmSearchForm.htm %}
          </div>
        </div>
{% else %}
{%- include en-us/search/fish-farm/FishFarmSidebar.htm %}
{%- include en-us/search/fish-farm/FishFarmSuggestedSearch.htm %}
          <div>
            <form action="/en-us/api/fish-farm" id="FishFarmForm" class="pageForm " onsubmit="event.preventDefault(); return false; ">
              <input name="focusId" type="hidden"/>
              <input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{ toJsonObjectStringInApostrophes(pageResponse) }}' type="hidden"/>
              <input name="listFishFarm" id="listFishFarm" class="listFishFarm"  value='{{ toJsonArrayStringInApostrophes(listFishFarm) }}' type="hidden"/>
            </form>
            <div id="site-calendar-box">
              <div id="site-calendar"><!-- // --></div>
            </div>
            <div class="wa-stack wa-gap-m ">
              <wa-tooltip for="return-to-FishFarm">back to all fish farms</wa-tooltip>
              <wa-breadcrumb>
                <wa-breadcrumb-item id="return-to-FishFarm" variant="brand" href="{{ SITE_BASE_URL }}{{ pageUri }}">
                  <i class="fa-duotone fa-regular fa-fish-fins"></i>
                  all fish farms
                </wa-breadcrumb-item>
                <wa-breadcrumb-item>
                  search fish farms
                </wa-breadcrumb-item>
              </wa-breadcrumb>
{% include en-us/search/fish-farm/FishFarmSearchForm.htm %}
{% include en-us/search/fish-farm/FishFarmSearchButtons.htm %}
              <div class="wa-stack wa-gap-0 ">
{% include en-us/search/fish-farm/FishFarmPaginationButtons.htm %}
                <div class="card-like-thing background-color-surface-border" id="site-results-grid">
                  <div>
              <wa-dropdown id="htmDropdown-name">
                <wa-button variant="brand" slot="trigger" caret>name</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishFarm_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishFarm').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-name-asc">
                    <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by name ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishFarm_name'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishFarm').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-name-desc">
                    <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by name descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <wa-dropdown id="htmDropdown-description">
                <wa-button variant="brand" slot="trigger" caret>description</wa-button>
                <wa-menu>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishFarm_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishFarm').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="asc" id="htmDropdown-description-asc">
                    <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-a-z"></i>
                    sort by description ascending
                  </wa-menu-item>
                  <wa-menu-item onclick="var e = document.querySelector('#pageFacetSortFishFarm_description'); e.value = this.getAttribute('data-order'); document.querySelectorAll('.pageSearchVal-pageSort-FishFarm').forEach(e => e.remove()); e.dispatchEvent(new Event('change', {})); " data-action="sort" data-order="desc" id="htmDropdown-description-desc">
                    <i class="{{ FONTAWESOME_STYLE }} fa-arrow-down-z-a"></i>
                    sort by description descending
                  </wa-menu-item>
                </wa-menu>
              </wa-dropdown>
              <div></div>
                  </div>
                  {% for item in listFishFarm%}
                  <div>
              <a href="{{ item.displayPage }}">
                <i class="fa-duotone fa-regular fa-fish-fins"></i>
              <span>{{ item.name | e }}
</span>              </a>
              <a href="{{ item.displayPage }}">
              <span>{{ item.description | e }}
</span>              </a>
              <wa-button variant="brand"
                  id="{{classApiMethodMethod}}_editPage"
                  placeholder="[String] edit"
                  label="edit"
                  title="Edit this"
                  class="button-on-left {{classApiMethodMethod}}_editPage classFishFarm inputFishFarm{{ result.id }}EditPage "
                  name="setEditPage"
                  href="{{ item.editPage | e }}"
                  >
                <i class="fa-duotone fa-regular fa-pen-to-square"></i>
                edit
              </wa-button>
                  </div>
                  {% endfor %}
              {% if getColumnName is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnDescription is defined %}
                <div>
                </div>
              {% endif %}
              {% if getColumnEditPage is defined %}
                <div>
                </div>
              {% endif %}
                </div>
{% include en-us/search/fish-farm/FishFarmPaginationButtons.htm %}
              </div>
            </div>
          </div>
{% endif %}
{%- endblock htmBodyMiddleFishFarmPage %}
{%- endblock htmBodyMiddlePageLayout %}

{%- block htmBodyEndPageLayout %}
  {{ super() }}
{%- block htmBodyEndFishFarmPage %}
{%- endblock htmBodyEndFishFarmPage %}
{%- endblock htmBodyEndPageLayout %}
