{% extends "en-us/PageLayout.htm" %}
{% block htmMetaPageLayout %}
{{ super() }}
    <meta name="result.pageId" content="{{ result.shortFileName }}" />
    <meta name="result.name" content="NAIRR grant proposal for Smart Aquaculture in the MOC with AI and Edge Observability"/>
    <meta name="result.description" content="We wish to bring jobs to coastal communities using our open source Smart Aquaculture digital twin platform, enhanced with blockchain and AI technology to establish best practices in the seafood industry. " />
    <meta name="result.authorName" content="Christopher Tate"/>
    <meta name="result.authorUrl" content="{{ SITE_BASE_URL }}/en-us/learn/about/about-christopher-tate" />
    <meta name="result.created" content="2025-09-14T10:05:01.556[America/Denver]" />
    <meta name="result.pageImageUri" content="/png/smart-aquaculture-rhsummit-fish-populations.png" />
    <meta name="result.pageImageAlt" content="Smart Aquaculture platform showing the fish population dashboard" />
    <meta name="result.relatedArticleIds" content="deploying-smart-aquaculture-on-openshift-local, smart-aquaculture-use-case" />
    <meta name="result.importance" content="256" />
{% endblock htmMetaPageLayout %}
{% block htmStylePageLayout %}
{% endblock htmStylePageLayout %}
{% block htmBodyMiddlePageLayout %}
        <h2>
          TODO
        </h2>
        <ul>
          <li>
            Describe GPU utilization and GPU hours
          </li>
        </ul>

        <h1>
          NAIRR grant proposal for Smart Aquaculture in the MOC with AI and Edge Observability 
        </h1>
        <p>
          The Green Reef Foundation, led by Mr. Jarvis Green is fully committed to 
          innovative workforce outcomes in marginalized communities like Plaquemines Parish, Louisiana. 
          We wish to bring jobs to coastal communities using our open source <a href="https://smaq.computate.org">Smart Aquaculture digital twin platform</a>, 
          enhanced with blockchain and AI technology to establish best practices in the seafood industry. 
          This starts from [1] understanding the health of the fish populations and the ocean, 
          [2] tracking the time fishing boat leaves and arrives back at a dock, 
          [3] tracking the weight of each fish species that arrives at a dock, 
          [4] tracking the time it takes to process fish and arrive at the markets and restaurants, 
          [5] and providing seafood destinations with net-zero waste options.
        </p>
        <p>
          Blockchain distributed technology for tracking fish creates traceable value for seafood. 
          Fish waste when recycled can be turned into net-zero waste, 
          rather than dumped into the environment. 
          The hard shells of seafood contain valuable natural materials like chitin. 
          Green Reef Foundation has developed net-zero solutions for wasted fish as 
          animal feed, fertilizer, other smoked fish products, and armor technology requiring very hard materials. 
          Tracking net-zero fish waste data with AI inference can help inform environmental response, 
          policy decision making, and a competent Smart Aquaculture workforce. 
          Using the resources of IBM, AI Alliance and MOC provided in this grant, 
          we can continue to scale supply chain optimizations to track the seafood as it arrives at the dock, 
          ships to a processing plant or restaurant, 
          and encourage businesses to share the seafood waste that turns into net-zero waste solutions. 
        </p>

        <h3>
          Plan and timeline
        </h3>
        <p>
          Our existing open source Smart Aquaculture digital twin platform is where we continue to publish our progress. 
          We have our <a href="https://smaq.computate.org/en-us/view/article/deploying-smart-aquaculture-on-openshift-local">developer getting started guide</a>, 
          Our <a href="https://github.com/computate-org/smart-aquaculture-workbench">Smart Aquaculture workbench</a> 
          presented at the <a href="https://smaq.computate.org/en-us/shop/event/smart-aquaculture-red-hat-summit-2025">Vibe code a data-driven website with generative AI for smart aquaculture in Red Hat OpenShift AI</a> 
          hands-on workshop at the Red Hat Summit May 2025 in Boston, allows us to get started immediately in OpenShift AI in the MOC. 
        </p>
        <p>
          The Green Reef Foundation introduced our Smart Aquaculture research and development 
          in March 2025 in Hershey, Pennsylvania, at the US North East Decisions Institute (NEDSI) conference. 
          We ran a live <a href="https://smaq.computate.org/en-us/shop/event/smart-aquaculture-nedsi-2025">Smart Aquaculture Code Generation workshop</a>, 
          and presented our Smart Aquaculture platform which was built with AI vibe-coding open source technology provided by <a href="https://computate.org">computate.org</a>. 
          This vibe coding technology allows us to write 3% of the Smart Aquaculture platform code by hand, 
          while the other 97% of the code is written by AI which speeds up development by 33 times more efficiency. 
          We were invited to report back in 2026 about the progress of the Smart Aquaculture project at the NEDSI conference 
          with the students and researchers who have joined the project since 2025. 
          We will continue to publish new articles on our site on a regular basis, 
          continue our weekday Youtube livestream, 
          and publish quarterly results as part of the NAIRR grant in public articles on our <a href="https://smaq.computate.org">smaq.computate.org</a> site.
        </p>

        <h2>
          Estimate of cloud resources
        </h2>
        <p>
          This OpenShift project allocation should be large enough to allow 5 to 10 people from 
          Green Reef Foundation, universities, or other developers interested in Smart Aquaculture 
          to work in individual OpenShift AI VSCode workbenches, 
          and continue to develop the Smart Aquaculture digital twin as a team. 
          This strengthens STEM outcomes and learning through documentation and hands-on training experiences in the cloud. 
          For the case of 5 workbenches, this equates to:
          <ul>
            <li>
              <kbd>5 developers × 2 CPUs + 16 Smart Aquaculture platform CPUs == 36 CPUs</kbd>
            </li>
            <li>
              <kbd>5 developers × 8 Gi RAM + 32 Gi Smart Aquaculture platform RAM == 72 Gi RAM</kbd>
            </li>
            <li>
              <kbd>5 developers × 20 Gi storage + 300 Gi Smart Aquaculture platform RAM == 400 Gi storage</kbd>
            </li>
            <li>
              <kbd>1 NVIDIA A100 GPU for AI Observability Metrics Summarizer</kbd>
            </li>
          </ul>
        </p>

        <h3>
          NAIRR resources required for Smart Aquaculture
        </h3>
        <p>
          The Smart Aquaculture digital twin promotes the culture of sharing data and ensuring its accuracy. 
          Our digital twin can contribute to the NAIRR Pilot focus areas in the following ways:
        </p>
        <ul>
          <li>
            NAIRR Secure: We have built the Smart Aquaculture platform with zero-trust fine-grained access control, 
            based on users, service accounts, groups, resources, policies and permissions 
            all stored in one place (Keycloak advanced authorization). 
            This demonstrates a focus on privacy and security-preserving resources. 
            Distributed secrets are managed securely with Hashicorp Vault and External Secrets Operator. 
          </li>
          <li>
            NAIRR Software: The Smart Aquaculture platform itself is a complex software system. 
            The services run with high availability across OpenShift nodes 
            with Zookeeper Cluster Manager, distributed PostgreSQL database, 
            Apache Solr search engine provide us fast read and write access to Smart Aquaculture data, 
            and scalable Smart Aquaculture APIs and dashboards in the cloud, to collect IoT edge device metrics.
          </li>
          <li>
            NAIRR Classroom: The Green Reef Foundation already has goals to train employees 
            of smart aquaculture facilities, librarians, data science, high school clubs, 
            teachers and supply chain small businesses; 
            as well as ecological research approaches, and support military training for open source ai engagement. 
          </li>
        </ul>
        <p>
          We will start using the open source <a href="https://github.com/rh-ai-kickstart/openshift-ai-observability-summarizer?tab=readme-ov-file">AI Observability Metrics Summarizer</a>         </p>
          which requires an NVIDIA A100 GPU in the MOC. The AI Observability Metrics Summarizer 
          can already query metrics from the OpenShift cluster from where it is deployed. 
          Unfortunately the AI Observability Metrics Summarizer currently has no authentication or authorization 
          in front of the user interface for sensitive data like OpenShift cluster metrics. 
          The open source project could benefit from the 
          zero-trust fine-grained access control features of the Smart Aquaculture platform. 
          We see an AI use case for AI inference on both 
          [1] managed clusters connected to a Red Hat ACM hub cluster, and 
          [2] IoT devices and MicroShift edge clusters with access control to AI inference. 

        <h2>
          Support needs
        </h2>
        <p>
          The Smart Aquaculture project is building a data space which includes ocean data, 
          fish population data, map data, and ecological forecasting data starting with sites in Louisiana and Boston. 
          There is <a href="https://data.neonscience.org/data-products/explore">NEON ecological forecasting data</a> 
          available for ocean data, fish populations and fishing data. 
          We wish to use AI to show the value of a new aquaculture economy based on a digital twin. 
          We wish to use the AI Observability Metrics Summarizer to query IoT edge device metrics, 
          and secure the chatbot that does inference against the metrics with fine-grained access control. 
          Using resources like the Red Hat Inference Server, and IBM Granite Instruct and geospatial models, 
          we will provide new understanding of how to strengthen and lead the seafood industry in best practices.
        </p>
        <p>
          From what we know about the available IBM AI models and our needs for multilingual dialogue applications and chatbots, 
          we could use some help from IBM, MOC, and AI Alliance to choose the right AI model. 
          We initially propose either: [1] a lighter IBM model like granite-3-2b-instruct, or a larger model like granite-3-8b-instruct. 
        </p>
        <p>
          We would also like to understand what other IBM Granite Instruct models, 
          Instruct Lab, geospatial, and time series models provided by IBM and the AI Alliance 
          would help with Smart Aquaculture or ecological forecasting. 
          The NEON data science products provided by NSF that relate to Aquaculture 
          are also a useful resource for forecasting weather, the ocean, plant and animal life 
          that support the forecasting goals of the Smart Aquaculture project.
        </p>

        <h2>
          Team and team preparedness
        </h2>
        <p>
          This process of open source vibe coding of a Smart Aquaculture platform 
          uses existing open source Smart Data Models provided by the FIWARE organization. 
          This makes it easy to fork and extend our Smart Aquaculture platform for sovereign data solutions in 
          [1] different domains like Smart Agriculture and Smart Environments, 
          [2] different locations than Plaquemines Parish, Louisiana like Boston, 
          and [3] different organizations like universities and government organizations. 
          The Green Reef Foundation partners include the US State Dept, NOAA, USDA, and several universities. 
          We expect such to be a valuable educational tool for associate degree programs 
          or self paced community programs for college credit or Air Force advanced placement in digital twin training.
        </p>
        <p>
          With the help of the Coastal and Marine Ecological Forecasting Initiative community who we are in contact with, 
          we wish to help assess the state of coastal and marine forecasts in Louisiana and other sites — 
          what forecasts exist, and what are the barriers to connecting 
          current forecasts with management and developing new forecasts for decision-making.
        </p>
        <p>
          The Ecological Forecasting community promotes cyberinfrastructure that can 
          analyze catalogs of forecasts from many ecological systems. 
          We wish to use geospatial and time series models provided by IBM 
          to evaluate ecological forecasts affecting aquaculture communities in the US, 
          and produce scores and summary information that is presented in dashboards 
          for analysis, synthesis, and decision making in the existing Smart Aquaculture platform <a href="https://smaq.computate.org">smaq.computate.org</a>. 
          We could also plug into the existing <a href="https://data.neonscience.org/data-products/explore">NEON Ecological Forecasting Data Products</a> already provided by the NSF.
        </p>
{% endblock %}
